
{% extends "layout_designsystem.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-body">

    <div class="govuk-grid-column-full">
      <h1>
        Images
      </h1>
      <p class="page-subtitle">
        Additional subtitle text goes here
      </p>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          H2 header title
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet rutrum sem. Integer a neque ex. Ut sed quam commodo, dapibus metus vitae, tincidunt ipsum. In at leo quam. Aliquam erat volutpat. Maecenas id gravida libero. Morbi hendrerit laoreet auctor. Aenean suscipit turpis vel consequat blandit. Fusce accumsan libero erat, sit amet pulvinar dolor elementum a. Mauris rutrum luctus neque.
        </p>

         <p>
            Aliquam at dolor porta, aliquam tortor vel, viverra arcu. Sed in malesuada erat, eget suscipit sem. Pellentesque id risus faucibus, venenatis urna in, volutpat mauris. Praesent lacinia, odio et accumsan gravida, tortor orci efficitur nisi, eget blandit erat dui sed mi. Ut porttitor lobortis ultricies. 
         </p>   

        <p>
            Cras nec mauris sit amet dui malesuada fringilla eget in orci. In hac habitasse platea dictumst. Vivamus eget bibendum felis, vitae luctus ipsum. Nulla facilisi. Fusce ut mauris congue, pharetra libero ut, aliquam metus.
        </p>


      </div>

  </div>

{% endblock %}


