
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <!-- <p class="sideMenuTitle">Lorem ipsum</p>
        <ul>
          <li>
            <a href="#">Content writing principles</a>
          </li>
          <li>
            <a href="#">Style guide</a>
          </li>
          <li>
            <a href="#">Voice and tone</a>
          </li>
        </ul> -->
      </div>

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        What comes next?
        </h1>
        <h3 class="govuk-heading-m">
          Set up email
          </h3>
          <ul class="govuk-list govuk-list--bullet">
            
            <li>Receive the Experience Library email as requested. Then replace 'email Lauren Dowling' with 'email <a class="govuk-link" href="#">experiencelibrary@landregistry.gov.uk</a>' </li>

          </ul>
          
          <h3 class="govuk-heading-m">
            Further content needed
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Run a community session to decide the 'mission statement' for the homepage.</li>
              <li>Need pages and content for the accessibility statement and details on cookies.</li>
              <li>Need a 'Getting started' section for Developers.</li>
              <li>Need the downloadable Figma and Adobe XD files with HMLR fonts, colours etc.</li>
              <li>Andy to contribute VCA layout once he returns.</li>
              <li>Have more accurate status pages for 'inline edit answers' and 'table inside accordian'.</li>

            </ul>

          <h3 class="govuk-heading-m">
            Branding
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>Make a case for Roboto being the default fallback font and have this approved by Laura and Corporate Comms.</li>
            <li>Seek approval for the use of #008548 green by Corporate Comms.</li>
            <li>Seek approval for the use of #008548 green for links and #00703c for links hover by Corporate Comms.</li>

            </ul>

            <h3 class="govuk-heading-m">
              Notion
              </h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>Once Notion comes through, we need to test whether it can host the backlog or whether we need to set up a Github backlog.</li>
            <li>In the meantime, are we happy with people simply emailing through information?</li>
            <li>Need to create a 'guidance' document on what can and cannot be submitted to Notion.</li>
              </ul>

              <h3 class="govuk-heading-m">
                Receive sign off on current content
                </h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Need approval for current contribution process (minus GitHub and Notion?)</li>
                  <li>Have the entire website proof read with changes made where necessary.</li>

                </ul>

              <h3 class="govuk-heading-m">
                Create priority list of components/patterns
                </h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Present the different proposed patterns and components at a community session and allow people to vote for their top priority components/patterns.</li>

                </ul>
    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


