
govuk-body, govuk-body-m, p, a, h1, h2, h3, h4, h5, h6, govuk-heading-xl, govuk-heading-l, govuk-heading-m, govuk-heading-s {
    font-family: 'Roboto', 'Arial', sans-serif !important;
  }

  .GDSTransport {
    font-family: "GDS Transport", arial, sans-serif !important;
   }

.govuk-heading-l{
  margin-bottom: 20px;
  
}

.govuk-heading-xl {
  margin-bottom: 30px;
}

  .govuk-link:link, a:link, a:visited, .app-step-nav-header__title:link, .app-step-nav-related__link:link {
    color: #008548;
}

.govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited {
    color: #008548;
}

 /* Navigation menu */
  .navbar {
      background: #008548;
      padding-top: 25px;
  }

.navbarLogo {
    float: left;
}

  .navbarlinks {
      background: #F3F2F1;
      max-width: 1100px;
      margin: auto;

      a {
        color: #008548;
        line-height: 50px;
        padding: 0px;
        margin-right:50px;
        text-decoration: none;
        font-weight: 600;
      }
  }

  .searchBox {
      display: block;
      background: #ffffff;
      height: 40px;
      width:300px;
      float:right;
      border-radius: 4px;;
  }

  .navbarLogo a {
    color: #ffffff !important;
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
  }

  .logoText {
    float: right;
    padding-left: 12px;
  }

   /* Page layouts */
  .govuk-width-container {
    max-width: 100%;
}

.govuk-grid-column-full {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.contentSection {
    max-width: 1100px;
    margin:auto;
}

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
    padding-top: 0px;
}

.sideMenu {
    min-width: 220px;
    padding-right:80px;
    float:left;
}

.right-content {
width: calc(100% - 300px);
float: left;
}


   /* Hero section*/

.heroSection {
    background: #008548;
    padding: 75px 0px;
    margin-bottom: 75px;
}

.heroSection .contentSection h1 {
    margin: 0px 0px 20px 0px; 
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    max-width: 720px;
}

.heroSection .contentSection p {
    margin: 0px; 
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    max-width: 860px;
}

 /* Homepage box buttons */

 .contentButtonBox a {
    padding: 3%;
    border: 1px solid #D8DDE0;
    max-width: 25%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    text-decoration: none;
    border-bottom-width: 4px;
 }

 .contentButtonBox a:hover {
background: #F3F2F1;
 }

 .link {
     font-weight:600;
     color:#008548;
     font-size: 24px;
     margin-bottom: 10px;
 }

.description {
    font-weight:400;
    font-size: 19px;
    margin-bottom: 0px;
}

 /* Side menu */

.sideMenuTitle {
    color:#4C6272;
    font-weight: 600;
    font-size: 19px;
    margin-bottom:12px;
}

.sideMenuSection {
    margin-bottom:35px;
}

.sideMenu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sideMenu ul li {
    margin-bottom:10px;
}


.sideMenu ul li a {
    color:#4C6272;
    text-decoration: none;
    font-size: 16px;
    &:hover{
        color: #008548;
    }
}

// Styling for toolkits on getting started

.toolkit{
    outline: 1px solid #D8DDE0;
    padding: 15px;
    // max-width: 28%;
}

.toolkits-container{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 1.5em;
}

.designSystemBoxes{
    max-width: 48%;
    outline: 1px solid #D8DDE0;
    box-sizing: border-box;
    padding: 30px;

}


a.current-main{
    font-weight: 900;
    color: #008548 !important ;
}

a.current-main2{
    font-weight: 900;
    color: #464646 !important ;
}

li.current-borderLeft{
    border-left: 4px solid #008548;
    padding-left: 6px;
    margin-left: -10px;
}

.filter {
    padding: 5px 20px;
    margin: 0px 2px;
    font-size: 19px;
    border-radius: 50px;
    border: 2px solid #008548;
    text-decoration: none;
  
    &.inactive {
      background-color: #ffffff;
      color: #008548;
  
      &:focus {
        outline: unset;
        color: unset;
        background-color: #ffdd00;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        border: 2px solid #ffdd00;
      }

      &:hover {
        background-color: #008548;
        color: #ffffff;
      }
    }
  
    &.active {
      background-color: #008548;
      color: #ffffff;
  
      &:hover {
        opacity: 0.7;
      }
  
      &:focus {
        outline: unset;
        color: unset;
        background-color: #ffdd00;
        box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
        border: 2px solid #ffdd00;
      }
    }
  }

  .temporaryBox {
    background: #F5F4F5;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
}

.govuk-grid-column-one-third {
    padding: 0 15px 60px 15px;
}

.componentLink{
    font-weight: 700;
    color: #008548;
    font-size: 22px;
    text-decoration: none;
}

.howTo {
    border: 1px solid #D8D8D8;
  }
  
  .howToColumn {
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom:0px;
  }
  
  .howToDo {
    padding: 15px;
    background: #DDFEEF;
    border-top: 5px solid #00A459;
    box-sizing: border-box;
  }
  
  .howToDont {
    padding: 15px;
    background: #FFEAE5;
    border-top: 5px solid #EF2825;
    box-sizing: border-box;
  }
  
  .howToTitle {
    font-weight: 700;
    font-size: 20px;
  }
  
  .howToText {
    font-size: 16px;
  }

  .doDontImage {
    min-height: 275px;
    text-align: center;
    padding: 20px;
  }

  ol.list {
    list-style: none;
    counter-reset: item;
    padding-inline-start: 0px;
  
    li {
      counter-increment: item;
      margin-bottom: 0px;
      padding-bottom: 25px;
  
      &:before {
        margin-right: 10px;
        content: counter(item);
        background: #ffffff;
        border-radius: 100%;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        display: block;
        border: 1px solid #979797;
        width: 36px;
        line-height: 36px;
        float: left;
        margin-top: -7px;
      }
    }
  }

  .app-content pre, .app-content code {
    font-family: monospace, monospace;
    font-size: 1em;
}

li code, td code, p code {
    padding: 0 5px;
    color: #d13118;
    background-color: #f3f2f1;
}

.govuk-table__cell{
    padding: 15px 0px;
    vertical-align: middle;
}


.govuk-table__header{
    border-bottom: none;
}

.govuk-table__cell{
    border-bottom: none;
}


.govuk-table__header code{
    vertical-align: middle; 
    font-weight: 400;}

.govuk-table__cell code{
    color: black;
    background:none;
}    

.icons_header{
    border-bottom: 1px solid #b1b4b6;
}

.icons_cell{
    border-bottom: 1px solid #b1b4b6;
}

.govuk-accordion__section-button{
    color: #008548;
}

.componentsListLinks {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 5px;
}

.componentsListLinks li {
  padding-bottom: 5px;
}


pre {
    max-width: inherit;
    height: 100%;
    margin: 0;
    // padding: 25px;
    border: 3px solid transparent;
    outline: 1px solid transparent;
    color: #0b0c0c;
    background-color: #f3f2f1;
    font-size: inherit;
  }
  
  .app-tabs__container pre {
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .app-copy-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    min-width: 110px;
    padding: 3px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 0 #00703c;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .app-tabs__container pre code {
    display: inline-block;
    padding: 20px;
  }
  
  .js-enabled .app-tabs__container pre code {
    padding-top: 45px;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .hljs-tag, .hljs-name, .hljs-attribute {
    color: #003078;
    font-weight: normal;

  }
  
  .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #00703c;
  }
  
  .hljs-string, .hljs-doctag {
    color: #d13118;

  }
  
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
    min-height: 176px;

  }

  .js-enabled .govuk-accordion__open-all {
    color: #008548;
  font-weight: 600;
  margin-bottom: 15px;
  text-decoration:none;
}


  /* This focuses on the getting started section */
  
  @media (min-width: 40.0625em) {
    .app-step-nav--large {
      .app-step-nav__circle--number {
        border: solid 1px #979797;
        width: 36px;
        height: 36px;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
      }
  
      .app-step-nav__step {
        &:after {
          left: 0;
          margin-left: 16px;
          border-width: 1px;
          top: 30px;
        }
  
        &:last-child:before {
          margin-left: 8.75px;
          width: 17.5px;
          border-width: 1px;
        }
      }
    }
  }
  
  span.app-step-nav__circle--number {
    border: solid 1px #979797;
  }
  
  .app-step-nav__header {
    border-top: solid 1px #979797;
  }
  
  .app-step-nav__step {
    &:last-child:before {
      border-bottom: solid 1px #979797;
    }
  
    &:after {
      border-left: solid 1px #979797;
    }
  }

  .app-step-nav__circle-inner {
    padding-top: 2px;
}
  
  .app-step-nav__button--controls {
    padding: 0.5em 0 2em 0;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }
  }
  
  .app-step-nav__toggle-link, .js-toggle-link{
    padding: 0.5em 0 0 0;
  }

  .app-step-nav__button--title, .app-step-nav__panel, .js-panel, .js-hidden, .app-step-nav__link, .js-link, .app-step-nav__toggle-link, .js-toggle-link,
  .app-step-nav__button, .app-step-nav__button--controls, .js-step-controls-button {
      color: #008548;
  }

  .app-step-nav__step, .js-step, .step-is-shown{
      &:hover{
          color: #008548;
      }
  }
