/* This section focuses on font-overrides */

govuk-body, govuk-body-m, p, a, h1, h2, h3, h4, h5, h6, govuk-heading-xl, govuk-heading-l, govuk-heading-m, govuk-heading-s {
    font-family: 'Roboto', sans-serif !important;
  }
  
  h1 {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .page-subtitle {
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    color: #000000;
    text-align: center;
    margin-bottom: 0px;
    max-width: 960px;
    margin: auto;
  }
  
  .govuk-heading-l {
    margin-bottom: 15px;
  }
  
  .govuk-link:link, a:link, .app-step-nav-header__title:link, .app-step-nav-related__link:link {
    text-decoration: none;
  }
  
  /* This section focuses on the navigation menu */
  
  .navbar {
    min-height: 155px;
  }
  
  .navbarlinks {
    overflow: hidden;
    background-color: #ffffff;
    float: right;
    padding: 50px 50px 50px 25px;
  
    a {
      float: left;
      font-size: 20px;
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 15px;
    }
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  
    .dropbtn {
      font-size: 20px;
      font-weight: 700;
      border: none;
      outline: none;
      color: white;
      padding: 0px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      font-weight: 400;
      text-transform: unset;
  
      &:hover {
        background-color: #ddd;
      }
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding: 15px 0px;
  }
  
  .navbarlogo {
    float: left;
    padding: 30px 25px 68px 50px;
  
    a {
      font-size: 48px;
      font-weight: 600;
      color: #000000;
      text-decoration: none;
    }
  }
  
  .logoIcons {
    max-width: 24px;
    padding-left: 4px;
  }
  
  /* This section focuses on layouts */
  
  .govuk-grid-column-full {
    margin-bottom: 60px;
  }
  
  .page-title {
    margin-bottom: 100px;
  }
  
  .govuk-body-m, .govuk-body, p {
    margin-bottom: 15px;
  }
  
  .componentTabs {
    max-width: 960px;
    margin: auto;
    float: unset;
  }
  
  /* This section focuses on filters */
  
  .filter {
    padding: 5px 20px;
    margin: 0px 2px;
    font-size: 19px;
    border-radius: 50px;
    border: 2px solid #1D70B8;
  
    &.inactive {
      background-color: #ffffff;
      color: #1D70B8;
  
      &:focus {
        outline: unset;
        color: unset;
        background-color: unset;
        box-shadow: unset;
      }
  
      &:hover {
        background-color: #1D70B8;
        color: #ffffff;
      }
    }
  
    &.active {
      background-color: #1D70B8;
      color: #ffffff;
  
      &:hover {
        opacity: 0.7;
      }
  
      &:focus {
        outline: unset;
        color: unset;
        background-color: unset;
        box-shadow: unset;
      }
    }
  }
  
  /* This section focuses on the visual inventory components */
  
  .temporaryBox {
    background: #F5F4F5;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 10px;
  }
  
  .componentLink {
    font-weight: 700;
    color: #000000;
    font-size: 22px;
  }
  
  .govuk-grid-column-one-third {
    padding: 0 15px 60px 15px;
  }
  
  /* This focuses on the navigation menu for experimental component pages */
  
  #horizontal-list li a {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0px 5px 0px;
    margin: 0px 20px;
  
    &.current {
      border-bottom: 4px solid #1d70b8;
    }
  }
  
  ul#horizontal-list {
    margin: auto;
    max-width: fit-content;
    border-top: 2px solid #f3f2f1;
    border-bottom: 2px solid #f3f2f1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  
    li {
      display: inline;
    }
  }
  
  /* This focuses on the experimental component example section */
  
  pre {
    max-width: inherit;
    margin: 0;
    padding: 25px;
    border: 3px solid transparent;
    outline: 1px solid transparent;
    color: #0b0c0c;
    background-color: #f3f2f1;
    font-size: inherit;
  }
  
  .app-tabs__container pre {
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .app-copy-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    min-width: 110px;
    padding: 3px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 0 #00703c;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .app-tabs__container pre code {
    display: inline-block;
    padding: 20px;
  }
  
  .js-enabled .app-tabs__container pre code {
    padding-top: 45px;
  }
  
  .app-content {
    pre, code {
      font-family: monospace, monospace;
      font-size: 1em;
    }
  }
  
  .hljs-tag, .hljs-name, .hljs-attribute {
    color: #003078;
    font-weight: normal;
  }
  
  .hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
    color: #00703c;
  }
  
  .hljs-string, .hljs-doctag {
    color: #d13118;
  }
  
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
    min-height: 325px;
  }
  
  /* This focuses on the getting started section */
  
  @media (min-width: 40.0625em) {
    .app-step-nav--large {
      .app-step-nav__circle--number {
        border-width: 0.25px;
        border: solid 1px #b1b4b6;
      }
  
      .app-step-nav__step {
        &:after {
          left: 0;
          margin-left: 16px;
          border-width: 1px;
          top: 30px;
        }
  
        &:last-child:before {
          margin-left: 8.75px;
          width: 17.5px;
          border-width: 1px;
        }
      }
    }
  }
  
  span.app-step-nav__circle--number {
    border: solid 1px #b1b4b6;
  }
  
  .app-step-nav__header {
    border-top: solid 1px #b1b4b6;
  }
  
  .app-step-nav__step {
    &:last-child:before {
      border-bottom: solid 1px #b1b4b6;
    }
  
    &:after {
      border-left: solid 1px #b1b4b6;
    }
  }
  
  .app-step-nav__controls {
    text-align: left;
  }
  
  .app-step-nav__button--controls {
    padding: 0.5em 0 2em 0;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }
  }
  
  .app-step-nav__toggle-link, .js-toggle-link {
    padding: 0.5em 0 0 0;
  }
  
  /* This focuses on components list footer section */
  
  .componentsListLinks {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 5px;
  
    li {
      padding-bottom: 5px;
    }
  }
  
  /* This focuses on components accessibility section */
  
  .howTo {
    border: 1px solid #D8D8D8;
  }
  
  .howToColumn {
    padding-left: 0px;
    padding-right: 30px;
  }
  
  .howToDo {
    padding: 15px;
    background: #DDFEEF;
    border-top: 5px solid #00A459;
  }
  
  .howToDont {
    padding: 15px;
    background: #FFEAE5;
    border-top: 5px solid #EF2825;
  }
  
  .howToTitle {
    font-weight: 700;
    font-size: 20px;
  }
  
  .howToText {
    font-size: 16px;
  }
  
  /* This focuses on components status section */
  
  .statusTitle {
    margin-bottom: 5px;
  }
  
  .iconStatus {
    float: left;
    margin-right:20px;
  }

  .hexBackground {
    background-image: url("/public/images/hex_background.png");
    background-repeat: no-repeat; 
    background-size: 66%;
    background-position-x: center;
  }