
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-table__header, .govuk-table__cell {
    vertical-align: middle;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li class="active-side-menu">
            <a class="current-main" href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <!-- <li>
            <a href="/design/images/">Images</a>
          </li> -->
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <!-- <li>
            <a href="/design/spacing/">Spacing</a>
          </li> -->

        </ul>
      </div>


      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Colour
        </h1>
  
        <p>Depending on whether you are designing for a HMLR service hosted on the service.gov.uk subdomain (GOV.UK) or outside of the service.gov.uk subdomain (HM Land Registry), you will need to use a different colour palette.</p>



        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:150px;"></th>
              <th scope="col" class="govuk-table__header">GOV.UK</th>
              <th scope="col" class="govuk-table__header">HM Land Registry</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Text primary</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #0b0c0c; margin-right:10px;margin-top:5px;"></div> <div>#0b0c0c<br> $govuk-text-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #0b0c0c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#0b0c0c</div></td>
            </tr>

            <tr class="govuk-table__row" style="border-bottom: 50px solid #ffffff;">
              <th scope="row" class="govuk-table__header">Text secondary</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #505a5f; margin-right:10px;margin-top:5px;"></div> <div>#505a5f<br> $govuk-secondary-text-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #505a5f; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#505a5f</div></td>
            </tr>
          </tbody>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Links</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#1d70b8; margin-right:10px;margin-top:5px;"></div> <div>	#1d70b8<br> $govuk-link-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #006637; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#006637</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Links hover</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#003078; margin-right:10px;margin-top:5px;"></div> <div>#003078<br> $govuk-link-hover-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: #014727; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#014727</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Links visited</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#4c2c92; margin-right:10px;margin-top:5px;"></div> <div>#4c2c92<br> $govuk-link-visited-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#4c2c92; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#4c2c92</div></td>
            </tr>

            <tr class="govuk-table__row" style="border-bottom: 50px solid #ffffff;">
              <th scope="row" class="govuk-table__header">Links active</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div>#0b0c0c<br> $govuk-link-active-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#0b0c0c</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Border</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#b1b4b6; margin-right:10px;margin-top:5px;"></div> <div>#b1b4b6<br> $govuk-border-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#b1b4b6; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#b1b4b6</div></td>
            </tr>

            <tr class="govuk-table__row" style="border-bottom: 50px solid #ffffff;">
              <th scope="row" class="govuk-table__header">Border input</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div>#0b0c0c<br> $govuk-input-border-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#0b0c0c</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Focus</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#ffdd00; margin-right:10px;margin-top:5px;"></div> <div>#ffdd00<br> $govuk-focus-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#ffdd00; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#ffdd00</div></td>
            </tr>

            <tr class="govuk-table__row" style="border-bottom: 50px solid #ffffff;">
              <th scope="row" class="govuk-table__header">Focus text</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div>#0b0c0c<br> $govuk-focus-text-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#0b0c0c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#0b0c0c</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Error state</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#d4351c; margin-right:10px;margin-top:5px;"></div> <div>#d4351c<br> $govuk-error-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#d4351c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#d4351c</div></td>
            </tr>

            <tr class="govuk-table__row" style="border-bottom: 50px solid #ffffff;">
              <th scope="row" class="govuk-table__header">Success state</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#00703c; margin-right:10px;margin-top:5px;"></div> <div>#00703c<br> $govuk-success-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#00703c; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#00703c</div></td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Brand colour</th>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 		#1d70b8; margin-right:10px;margin-top:5px;"></div> <div>#1d70b8<br> $govuk-brand-colour</div></td>
              <td class="govuk-table__cell"><div style="float:left;width: 40px; height:40px; border-radius: 100%;background-color: 	#006637; margin-right:10px;margin-top:5px;"></div> <div style="padding-top:12px;">#006637</div></td>
            </tr>

          </tbody>
        </table>






      </div>
      {% include "includes/helpimprove.html" %}  

    </div>
  </div>
</div>
{% endblock %}
