
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #008548 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/V2/">Home</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">HMLR Design System</p>
        <ul>
          <li>
            <a href="using-gds.html">Using GDS</a>
          </li>
          <li>
            <a href="new-components.html">New components</a>
          </li>
          <li>
            <a href="using-notion.html">Using Notion</a>
          </li>
          <li>
            <a href="maintenance.html">Maintenance</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">HMLR Digital Design</p>
        <ul>
          <li>
            <a href="job-roles.html">Job roles</a>
          </li>
          <li>
            <a href="softwares.html">Softwares</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-xl">
          Guidance
         </h2>

        <p style="font-size:24px;margin-bottom:25px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna feugiat non pellentesque ultricies. Mollis magna facilisis diam id in diam.
        </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Why does HM Land Registry have their own design system?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Who is the HMLR Design System aimed at?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  When should I use the HMLR Design System?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div>
        </div>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


