
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block content %}
<style>
    .govuk-accordion__open-all{
      color: #006637;
  }

  .govuk-accordion__section-button {
    color: #006637 !Important;
}



.govuk-link2{
color: #006637;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <div class="sideMenu">
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Guides</p>
          <ul>
            <li>
              <a href="#">Prototyping</a>
            </li>          
            <li class="active-side-menu">
              <a class="current-main" href="designers.html">New HMLR designers</a>
            </li>
            <!-- <li>
              <a href="#">Sketch</a>
            </li>
            <li>
              <a href="#">Prototyping</a>
            </li>
            <li>
              <a href="#">Developing</a>
            </li> -->
          </ul>
        </div>
        
  
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Prototyping kits</p>
          <ul>
            <li>
              <a href="designers.html">Figma</a>
            </li>
                        
            <!-- <li>
              <a href="/getstarted/developers.html">Developers</a>
            </li> -->
          </ul>
        </div>
        
  
        <!-- <div class="sideMenuSection">
          <p class="sideMenuTitle">Helpful information</p>
          <ul>
            <li>
              <a href="job-roles.html">Job roles</a>
            </li>
            <li>
              <a href="software.html">Software</a>
            </li>
          </ul>
        </div> -->
  
  
      </div>



    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Getting started</span>
        <h1 class="govuk-heading-xl">
        Designers
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          If you are new HM Land Registry, we recommend working through the step-by-step guide below.
        </p>

        <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
          <ol class="app-step-nav__steps">
             

            <li class="app-step-nav__step js-step" id="step-1" >
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 1
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Welcome to HM Land Registry
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-1">
                <p class="app-step-nav__paragraph">Welcome to the Team, by now the <a class="govuk-link2" href="/getstarted/job-roles">Head of Design</a>, would have introduced you to everyone via Slack (<a class="govuk-link2" href="/getstarted/software">What’s Slack?</a>).</p>
    
                <p class="govuk-!-font-weight-bold">Where to begin:</p>

                <ul class="standardBulletpoints">

                  <li>
                    Read the <a class="govuk-link2" href="https://docs.google.com/document/d/1Uv8hFDyQJnsxkonm8S9Yu3liW0GSINjxin7Sk8QhMis/" target="_blank">Welcome document</a>.
                  </li>

                  <li>
                    Get to know your <a class="govuk-link2" href="/getstarted/job-roles">Line Manager</a>. Ask them anything you want as they're here to help you.
                  </li>

                  <li>Your Line Manager will:
                    <ul class="subBulletpoints">
                      <li>Assign you a <a class="govuk-link2" href="/getstarted/job-roles">Buddy</a></li>
                        
                      <li>
                        Give you access to Slack (if you haven't already)
                      </li>

                      <li>
                        Give you access to Mural (<a class="govuk-link2" href="/getstarted/software">What’s Mural?</a>)
                      </li>

                      <li>
                        Give you access to the <a class="govuk-link2" href="https://trello.com/b/txdmRdLP/design-community-of-practice-meetups" target="_blank">Design Community Trello board</a> (<a class="govuk-link2" href="/getstarted/software">What’s Trello?</a>)
                      </li>

                      <li>
                        Give you access to PluralSight tutorials (<a class="govuk-link2" href="/getstarted/software">What’s PluralSight?</a>)
                      </li>
                  </ul>

                  </li>


                  <li>
                    If you haven't already, join the following Slack channels:
                    <ul class="noBulletpoints">
                      <li><a class="govuk-link2" href="https://landregistry.slack.com/archives/C8N1WEFFU" target="_blank">#accessibility</a></li>
                      <li><a class="govuk-link2" href="https://landregistry.slack.com/archives/C010QJ74Z0D" target="_blank">#announcements</a></li>
                      <li><a class="govuk-link2" href="https://landregistry.slack.com/archives/CB8F79R0E" target="_blank">#design-content</a></li>
                      <li><a class="govuk-link2" href="https://landregistry.slack.com/archives/C02G258G8" target="_blank">#frontend</a></li>
                      <li><a class="govuk-link2" href="https://landregistry.slack.com/archives/C026P6E03" target="_blank">#general</a></li>
                    </ul>

                  </li>
                  <li>
                    Attend your first Daily Design Community Catchup
                    (9am - 9.30am, Mon - Fri)</li> 
                  <li>
                    Attend your first Weekly Design Community Session (1pm, Thur)
                  </li>
                  <li>
                    Check with the <a class="govuk-link2" href="/getstarted/job-roles">Head of Design</a> that you've been invited to the Design Practice Monthly Town Hall meeting
                  </li>
                  <li>
                    Read the <a class="govuk-link2" href="/getstarted/">Hybrid Working Agreement</a>
                  </li>

                </ul>
              </div>
    
            </li>

            <li class="app-step-nav__step js-step" id="step-2" >
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 2
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Introduction to work at HM Land Registry
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-2">
                <p class="app-step-nav__paragraph">At HM Land Registry there are a number of projects underway. Each project is made up of various teams with members from different practices. As a <a class="govuk-link2" href="/getstarted/job-roles">Designer</a>, you are part of the User-Centred Design practice.</p>


                <p class="govuk-!-font-weight-bold">Learn about:</p>

                <ul class="standardBulletpoints">

                  <li>
                    HM Land Registry <a class="govuk-link2" href="https://trello.com/b/txdmRdLP/design-community-of-practice-meetups" target="_blank">Projects</a>
                  </li>
                  <!-- <li>
                    HM Land Registry <a class="govuk-link2" href="#">Practices</a>
                  </li> -->
                  <li>
                    <a class="govuk-link2" href="/getstarted/job-roles">User-Centred Design Disciplines/Roles</a>
                  </li>
                  <li>
                    <a class="govuk-link2" href="https://www.gov.uk/government/organisations/digital-data-and-technology-profession" target="_blank">Digital, Data and Technology (DDaT)</a>
                  </li>

                </ul>

              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="step-3" >
              <div class="app-step-nav__header js-toggle-panel" data-position="3">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 3
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Introduction to GOV.UK Design System
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-3">      
                <p class="app-step-nav__paragraph">
                  User-Centred Design at HM Land Registry follows the <a class="govuk-link2" href="https://www.gov.uk/guidance/government-design-principles" target="_blank">principles</a> outlined by the GOV.UK Design System. The Government Digital Service (GDS) Team are responsible for maintaining the GOV.UK Design System.
                </p>

                <p class="govuk-!-font-weight-bold">Learn about:</p>

                <ul class="standardBulletpoints">

                  <li>
                     <a class="govuk-link2" href="https://gds.blog.gov.uk/2018/06/22/introducing-the-gov-uk-design-system/" target="_blank">The role and importance of a design system</a> within UK Government digital services
                  </li>
                  <li>
                    <a class="govuk-link2" href="https://design-system.service.gov.uk/" target="_blank">How to use the GOV.UK Design System</a>
                  </li>


                </ul>


              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="step-4" >
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h2 class="app-step-nav__title">

                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 4
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Set up digital design software
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-4">
                <p class="app-step-nav__paragraph"> 
                At HM Land Registry you are free to use the tools that enable you to complete the job required. However, we recommend using the following pieces of software to enable easier cross-team working.</p>
                <p class="app-step-nav__paragraph">
                For prototyping and wireframing, we recommend using <a class="govuk-link2" href="https://www.figma.com/" target="_blank">Figma</a> or <a class="govuk-link2" href="https://www.adobe.com/uk/products/xd.html" target="_blank">Adobe XD</a>. Speak with fellow designers on your assigned projects to learn what prototyping software they are currently using.</p>
                <p class="app-step-nav__paragraph">
                You may need a licence to use the software. To get a licence, please contact either your Line Manager,  Head of Design or make a <a class="govuk-link2" href="/guidance/software">Marvel Request</a>.</p>
                <p class="app-step-nav__paragraph">
                If you are new to Figma or Adobe XD, we recommend completing the tutorials that appear when you open the software for the first time and any additional <a class="govuk-link2" href="https://docs.google.com/document/d/1VSjsYtkIPrsswH0dESEUd7ZvmunqRI-FwZcsfO1PaYU/edit?usp=sharing" target="_blank">tutorial resources</a> that are readily available.</p>
                <p class="app-step-nav__paragraph">
                After you have downloaded the prototyping design software and completed the tutorials provided on the respective websites, download the HM Land Registry Design System Tool Kit for your chosen software.</p>
               
                <p class="govuk-!-font-weight-bold">Download the HM Land Registry prototyping design toolkit for:</p>

                <ul class="standardBulletpoints">

                  <li>
                     <a class="govuk-link2" href="#">Figma - v1.0</a>
                  </li>
                  <!-- <li>
                    <a class="govuk-link2" href="#">Sketch - v1.0</a>
                  </li> -->
                  <li>
                    <a class="govuk-link2" href="#">Adobe XD - v1.0</a>
                  </li>

                </ul>


              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="step-5" >
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 5
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Set up coded prototyping environment
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-5">      
                <p class="app-step-nav__paragraph"> 
                  Designing and building prototypes is an important role for a Designer. While static prototypes can be built in Figma or Adobe XD, the HMLR Prototype Kit can be used to build fully interactive prototypes. </p>

                  <p class="govuk-!-font-weight-bold">Follow these guides on how to download:</p>

                  <ul class="standardBulletpoints">
  
                    <li>
                       <a class="govuk-link2" href="https://govuk-prototype-kit.herokuapp.com/docs/install" target="_blank">GDS Prototype Kit</a>
                    </li>
                    <li>
                      <a class="govuk-link2" href="https://atom.io/" target="_blank">Atom code editor</a> or <a class="govuk-link2" href="https://code.visualstudio.com/download" target="_blank">Visual Studio Code</a>
                    </li>


                  </ul>

                  <p class="govuk-!-font-weight-bold">Learn about:</p>

                  <ul class="standardBulletpoints">
  
                    <li>
                       Getting started with <a class="govuk-link2" href="https://app.pluralsight.com/library/courses/html-css-javascript-big-picture/table-of-contents" target="_blank">HTML, CSS, and Javascript</a>
                    </li>
                    <!-- <li>
                      <a class="govuk-link2" href="#">Introduction to the HMLR Prototype Kit</a>
                    </li> -->
                    <li>
                      <a class="govuk-link2" href="https://javascript.info/code-editors" target="_blank">Introduction to code editors</a>
                    </li>
                    
                  </ul>

                  <p class="govuk-!-font-weight-bold">Complete the:</p>

                  <ul class="standardBulletpoints">
  
                    <li>
                       <a class="govuk-link2" href="https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/start" target="_blank">Tutorial on how to use the Prototype Kit</a>
                    </li>
                    <!-- <li>
                      <a class="govuk-link2" href="#">Prototyping kit challenge</a>
                    </li> -->

                    
                  </ul>


              </div>
    
            </li>
    
            <li class="app-step-nav__step js-step" id="step-6" >
              <div class="app-step-nav__header js-toggle-panel" data-position="6">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 6
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Begin the onboarding process to your project team
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-6">      
                <p class="app-step-nav__paragraph"> 
                  Once you are officially assigned to a project, you will be inducted to the project by a member of the team. They will provide information on the project background, current status of work, as well as timelines and goals.</p>

                <p class="app-step-nav__paragraph"> 
                  In addition to explaining your role within the project and the associated expectations, the team member responsible for your onboarding will outline the responsibilities of other team members. This should ensure you have a clear understanding of where your role fits within the agile environment.</p>

                <p class="app-step-nav__paragraph"> 
                  Once you have been invited to all necessary meetings, you will be introduced to each team member. This will be an opportunity for team members to explain their role firsthand.  </p>
                  
                <p class="app-step-nav__paragraph"> 
                  Throughout the onboarding process, your team members may provide you with useful resources and materials to enable you to familiarise yourself with the work and build upon any skills that will be required. </p>

              </div>
    
            </li>

            <!-- <li class="app-step-nav__step js-step" id="step-7" >
              <div class="app-step-nav__header js-toggle-panel" data-position="7">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 7
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    What is the HMLR Design System? And how to use it.
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-7">      
                <p class="app-step-nav__paragraph"> 
                  HM Land Registry has their own design system which is run by members of the User-Centred Design Practice. A member of the Design System Team should reach out to you to organise a meeting where the role and use of the HMLR Design System is explained. </p>

                <p class="app-step-nav__paragraph"> 
                  This member should provide a tour of the Notion collaborative environment that is used to store documentation around design decisions and experimental components, patterns, and styles. An overview of the process for contributing to the HMLR Design System should also be provided.  </p>
              </div>
    
            </li> -->
    
            <li class="app-step-nav__step js-step" id="step-7" >
              <div class="app-step-nav__header js-toggle-panel" data-position="7">
                <h2 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden">Step</span> 7
                      </span>
                    </span>
                  </span>
    
                  <span class="js-step-title">
                    Explore how HM Land Registry can contribute to your professional development
                  </span>
                </h2>
                <span class="app-step-nav__toggle-link js-toggle-link"></span>
              </div>
    
              <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-step-8">      

                <p class="app-step-nav__paragraph"> 
                  At some point in your probationary period, alongside your Line Manager, you will write objectives for your first year at HM Land Registry to help identify the skills you wish to develop. To aid in this development, your Line Manager may suggest various training courses and resources of use. </p>

                <p class="app-step-nav__paragraph"> 
                  Your Line Manager will also explain the routes for progression and what metrics are used to assess readiness for promotion. </p>
              </div>
                
              </div>
    
            </li>
          </ol>
        </div>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


