
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Getting started</p>
        <ul>
          <li>
            <a href="designers.html">Designers</a>
          </li>
          <!-- <li>
            <a href="/getstarted/developers.html">Developers</a>
          </li> -->
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Download toolkits</p>
        <ul>
          <li>
            <a href="#">Figma</a>
          </li>
          <li>
            <a href="#">Adobe XD</a>
          </li>
          <!-- <li>
            <a href="#">Sketch</a>
          </li>
          <li>
            <a href="#">Prototyping</a>
          </li>
          <li>
            <a href="#">Developing</a>
          </li> -->
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Helpful information</p>
        <ul>
          <li>
            <a href="job-roles.html">Job roles</a>
          </li>
          <li>
            <a href="software.html">Software</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Get started
        </h1>
        <p style="font-size:24px;">
          This section is designed to get you up and running as quickly as possible, with easy access to toolkits, guides and helpful information.
        </p>
        </div>
        <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">New starters at HM Land Registry</h2>
        <p>
          If you're new to HM Land Registry or just need some guidance, check out our <a href="designers.html">getting started guide for designers</a> page.
        </p>
        </div>
        <!-- <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Developers</h2>
        <p>
          If you're new to HM Land Registry or just need some guidance, check out our <a href="/getstarted/developers.html">getting started guide for developers</a> page.
        </p>
        </div> -->
        <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Create prototypes and wireframes</h2>
        <div class="toolkits-container">

          <!-- <div class="toolkit">
            <div style="display: flex; align-items:center;">
            
              <img width="32" alt="Figma-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/256px-Figma-logo.svg.png" style="padding:0px 20px 0px 10px;">        
  
              <div>
                <h2 style="display:block; margin:0px; font-size: 27px;">Figma</h2>
                <h5 style="display:block; margin: 0px; font-size:14px;font-weight: 400;">Version 1.02</h5>
                <a href="#" style="font-size: 16px;">Download</a>
              </div>
              
            </div>
          

          </div>

          <div class="toolkit">
            <div style="display: flex; align-items:center;">
            
              <img width="32" alt="Adobe XD CC icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/512px-Adobe_XD_CC_icon.svg.png" style="padding:0px 20px 0px 10px;">        
  
              <div>
                <h2 style="display:block; margin:0px; font-size: 27px;">Adobe XD</h2>
                <h5 style="display:block; margin: 0px; font-size:14px;font-weight: 400;">Version 1.02</h5>
                <a href="#" style="font-size: 16px;">Download</a>
              </div>
              
            </div>
          

          </div> -->




          <div class="toolkit">
            <div style="display: flex; align-items: center;margin-bottom: 12px;">
            
              <a title="Figma, Public domain, via Wikimedia Commons" href="#"><img width="32" alt="Figma-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Figma-logo.svg/256px-Figma-logo.svg.png"></a>            
  
              <div style="padding-left: clamp(4px, 10px, 15px);">
                <h2 style="display:block; margin:0px; font-size: 27px;">Figma</h2>
                <h5 style="display:block; margin: 0px; font-size:14px;font-weight: 400;">Version 1.02</h5>
              </div>
              
            </div>
            <p style="font-size: 16px; margin-bottom: 8px;">Library of components and styles based on the HM Land Registry design system.</p>
            <a href="#" style="font-size: 16px;">Download</a>

          </div>
          <div class="toolkit">
            <div style="display: flex; margin-bottom: 12px; align-items: center;">
            
              <a title="™/®Adobe Systems, Public domain, via Wikimedia Commons" href="#"><img width="40" alt="Adobe XD CC icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/512px-Adobe_XD_CC_icon.svg.png"></a>  
              <div style="padding-left: clamp(4px, 10px, 15px);">
                <h2 style="display:block; margin:0px; font-size: 27px;">Adobe XD</h2>
                <h5 style="display:block; margin: 0px; font-size:14px;font-weight: 400;">Version 1.02</h5>
              </div>
              
            </div>
            <p style="font-size: 16px; margin-bottom: 8px;">Library of components and styles based on the HM Land Registry design system.</p>
            <a href="#" style="font-size: 16px;">Download</a>

          </div>
          <!-- <div class="toolkit">
            <div style="display: flex; margin-bottom: 12px; align-items: center;">
            
              <a title="Bohemian Coding, Public domain, via Wikimedia Commons" href="#"><img width="40" alt="Sketch Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sketch_Logo.svg/256px-Sketch_Logo.svg.png"></a>  
              <div style="padding-left: clamp(4px, 10px, 15px);">
                <h2 style="display:block; margin:0px; font-size: 27px;">Sketch kit</h2>
                <h5 style="display:block; margin: 0px; font-size:14px; font-weight: 400;">Version 1.02</h5>
              </div>
              
            </div>
            <p style="font-size: 16px; margin-bottom: 8px;">Lorem ispum dolor sit amet, cons etcetur adipiscing elit</p>
            <a href="#" style="font-size: 16px;">Download</a>

          </div>
          <div class="toolkit">             
            <h2 style="display:block; margin:0px; font-size: 27px;">Prototyping</h2>
            <h5 style="display:block; margin: 0px; font-size:14px; margin-bottom: 12px;font-weight: 400;">Version 1.02</h5>
              
            <p style="font-size: 16px;margin-bottom: 8px;">Lorem ispum dolor sit amet, cons etcetur adipiscing elit</p>
            <a href="#" style="font-size: 16px;">Download</a>

          </div>
          <div class="toolkit">
            
            <h2 style="display:block; margin:0px; font-size: 27px;">Developing</h2>
            <h5 style="display:block; margin: 0px; font-size:14px; margin-bottom: 12px; font-weight: 400;">Version 1.02</h5>
              
            <p style="font-size: 16px; margin-bottom: 8px;">Lorem ispum dolor sit amet, cons etcetur adipiscing elit</p>
            <a href="#" style="font-size: 16px;">Download</a>

          </div> -->
        </div>
        </div>

        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Helpful information</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Different <a href="job-roles.html">job roles</a> at HM Land Registry</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="job-roles.html">Software</a> used across different projects and disciplines</li>
          </ul>
          </div>

        {% include "includes/feedback.html" %}          

      </div>
    </div>





  </div>

</div>

{% endblock %}


