
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #006637 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <div class="sideMenu">
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Getting started</p>
          <ul>
            <li>
              <a href="designers.html">Designers</a>
            </li>
            <!-- <li>
              <a href="/getstarted/developers.html">Developers</a>
            </li> -->
          </ul>
        </div>
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Download toolkits</p>
          <ul>
            <li>
              <a href="#">Figma</a>
            </li>
            <li>
              <a href="#">Adobe XD</a>
            </li>
            <!-- <li>
              <a href="#">Sketch</a>
            </li>
            <li>
              <a href="#">Prototyping</a>
            </li>
            <li>
              <a href="#">Developing</a>
            </li> -->
          </ul>
        </div>
  
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Helpful information</p>
          <ul>
            <li>
              <a href="job-roles.html">Job roles</a>
            </li>
            <li class="active-side-menu">
              <a class="current-main" href="software.html">Software</a>
            </li>
          </ul>
        </div>
  
  
      </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Helpful information</span>
        <h1 class="govuk-heading-xl">
        Software
        </h1>

        <p style="font-size:24px;margin-bottom:25px;">
          Information about common software used by designers and developers at HM Land Registry.
        </p>


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Mural
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'><a class="govuk-link" href="https://www.mural.co/features" target="_blank">Mural</a> is a website that enables teams to collaboratively work together in a shared and dynamic virtual environment. Each Mural board allows you add sticky notes, shapes, connectors, images and frameworks, which make it a useful tool for team exercises.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Trello
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'><a href="https://trello.com/" class="govuk-link" target="_blank">Trello</a> is a project management application that can be used online or via the Trello app. By creating a Trello board, tasks can be added and assigned to the relevant team members. This enables teams to stay organised and monitor overall progress. </p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Slack
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'><a href="https://slack.com/intl/en-gb/features" class="govuk-link" target="_blank">Slack</a> is a communication platform that allows users to direct message and call colleagues. Slack also enables connection and collaboration with the wider HM Land Registry community through the use of channels that are each dedicated to a particular theme. For example, there is a designated channel for 'accessibility' where people might ask relevant questions or post useful content to share with others in this channel.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  PluralSight
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'><a href="https://app.pluralsight.com/library/" class="govuk-link" target="_blank">Pluralsight</a> is a website offering a wide variety of online courses and tutorials.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Marvel
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Marvel is the platform used to make tech support requests to the HM Land Registry I.T department.</p>
            </div>
          </div>
          

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}

