
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li class="active-side-menu">
            <a class="current-main" href="/design/icons/">Icons</a>
          </li>
          <!-- <li>
            <a href="/design/images/">Images</a>
          </li> -->
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <!-- <li>
            <a href="/design/spacing/">Spacing</a>
          </li> -->

        </ul>
      </div>


      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Icons
        </h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header icons_header" style="width: 10%;min-width:100px;">Icon</th>
              <th scope="col" class="govuk-table__header icons_header" style="width: 35%;">Label</th>
              <th scope="col" class="govuk-table__header icons_header" style="width: 55%;">File name</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_search.svg" width="20" alt="Search Icon" style="padding: 0px 10px;"></td>
              <td class="govuk-table__cell icons_cell">Search</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_search.svg" download>icon_govuk_search.svg</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_chevronleft.svg" width="30" alt="Chevron left" style="padding: 0px 5px;"></td>
              <td class="govuk-table__cell icons_cell">Chevron left</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_chevronleft.svg" download>icon_govuk_chevronleft.svg</a></td>
           </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_chevronright.svg" width="30" alt="Chevron right" style="padding: 0px 5px;"></td>
              <td class="govuk-table__cell icons_cell">Chevron right</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_chevronright.svg" download>icon_govuk_chevronright.svg</a></td>
           
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_chevronup.svg" width="30" alt="Chevron up" style="padding: 0px 5px;"></td>
              <td class="govuk-table__cell icons_cell">Chevron up</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_chevronup.svg" download>icon_govuk_chevronup.svg</a></td>
           
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_chevrondown.svg" width="30" alt="Chevron down" style="padding: 0px 5px;"></td>
              <td class="govuk-table__cell icons_cell">Chevron down</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_chevrondown.svg" download>icon_govuk_chevrondown.svg</a></td>
           
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_close.svg" width="30" alt="Close" style="padding: 0px 5px;"></td>
              <td class="govuk-table__cell icons_cell">Close</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_close.svg" download>icon_govuk_close.svg</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"><img src="/public/images/icon_govuk_arrow.svg" width="20" alt="Arrow" style="padding: 0px 10px;"></td>
              <td class="govuk-table__cell icons_cell">Arrow</td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/icon_govuk_arrow.svg" download>icon_govuk_arrow.svg</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell icons_cell"></td>
              <td class="govuk-table__cell icons_cell"></td>
              <td class="govuk-table__cell icons_cell"><a href="/public/images/HMLR-icons.zip" download>Download all icons</a></td>
            </tr>
          </tbody>
        </table>


</div>
<div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">When to use these icons</h2>
        <p style="max-width:700px;">Use these icons to mark important parts of the page and highlight things you want users to do.

        </p>

        
        
</div>
<div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Further guidance</h2>
        <p>If you require further guidance on using icons, please contact Lauren Dowling.

        </p>

</div>
{% include "includes/helpimprove.html" %}  


    </div>  
        



  </div>

</div>
</div>


{% endblock %}


