
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Guidance</p>
        <ul>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/" target="_blank">DWP Accessibility Manual</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/accessibility-cheatsheet" target="_blank">Accessibility cheatsheet</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/blog-posts" target="_blank">Blog posts</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/govuk-resources" target="_blank">GOV.UK resources</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/home-office-posters" target="_blank">Home Office posters</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/known-accessibility-issues" target="_blank">Known issues</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/sculpt" target="_blank">SCULPT</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Tools</p>
        <ul>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/automated-accessibility-testing" target="_blank">Automated training</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/manual-accessibility-testing" target="_blank">Manual testing</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/assistive-technology-testing" target="_blank">Assistive technology testing</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Training</p>
        <ul>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/free-events-and-videos" target="_blank">Free events and videos</a>
          </li>
          <li>
            <a href="https://accessibility-manual.dwp.gov.uk/tools-and-resources/online-courses" target="_blank">Online courses</a>
          </li>

        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Accessibility
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Build HMLR websites and services that are usable for as many people as possible, regardless of specific access needs.
        </p>

        <p>
          Delivering accessible and inclusive services means adhering to government standards and legal responsibilities around equality and accessibility.
        </p>
      </div>


      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Accessibility by Law</h2>
        <p>Accessibility is a part of several laws and standards we must follow. Each of the standards feed into the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank" class="govuk-link">Equality Act 2010</a> and the <a href="https://www.gov.uk/government/publications/public-sector-equality-duty" target="_blank" class="govuk-link">Public Sector Equality Duty</a>.</p>

        <p>If you are building anything which runs in a browser, you will need to meet the <a href="https://accessibility-manual.dwp.gov.uk/accessibility-law/the-public-sector-bodies-accessibility-regulations-2018" target="_blank" class="govuk-link">Public Sector Bodies Accessibility Regulations 2018</a>.</p>
          
        <p>If you are procuring hardware or software you will need to meet the <a href="https://accessibility-manual.dwp.gov.uk/accessibility-law/en301549-accessibility-requirements-for-ict-products-and-services" class="govuk-link" target="_blank">EN 301 549 Accessibility Requirements for ICT products and services</a>.</p>
          
        <p>If you are working to the GOV.UK Service Standard you will also need to meet the <a href="https://accessibility-manual.dwp.gov.uk/accessibility-law/accessibility-regulations-vs-the-govuk-service-standard" class="govuk-link" target="_blank">Government Accessibility Requirements</a>.</p>
      </div>

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Further guidance</h2>
        <p>If you require further guidance on accessibility, please message the <a href="https://landregistry.slack.com/archives/C8N1WEFFU" class="govuk-link">#accessibility</a> slack channel or email our Accessibility Consultant.
        </p>
      </div>
    </div>
    </div>





  </div>

</div>

{% endblock %}


