
{% extends "layout_designsystem.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-body">

    <div class="govuk-grid-column-full">
      <h1>
        Components
      </h1>
      <p class="page-subtitle" style="max-width: 800px; margin: auto;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry gwarno psum is simply the printing
      </p>
    </div>

    <div class="govuk-grid-column-full" style="text-align:center;margin-bottom: 120px;">
        <a class="filter inactive" href="/design/components.html">All</a>
        <a class="filter inactive" href="/design/components-experimental.html">Experimental</a>
        <a class="filter inactive" href="/design/components-gds.html">GDS</a>
        <a class="filter inactive" href="/design/components-forms.html">Forms</a>
        <a class="filter inactive" href="/design/components-buttons.html">Buttons</a>
        <a class="filter active" href="/design/components-visualaids.html">Visual aids</a>

    </div>




    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
           
            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/breadcrumbs/"  target="_blank">Breadcrumbs</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/character-count/"  target="_blank">Character count</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/error-message/"  target="_blank">Error message</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/error-summary/"  target="_blank">Error summary</a>
            </div>
      
            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/inset-text/"  target="_blank">Inset text</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/notification-banner/"  target="_blank">Notification banner</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/phase-banner/"  target="_blank">Phase banner</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/tag/"  target="_blank">Tag</a>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="temporaryBox"></div>
                <a class="componentLink" href="https://design-system.service.gov.uk/components/warning-text/"  target="_blank">Warning text</a>
            </div>

          </div>

    </div>




  </div>

{% endblock %}


