
{% extends "layout_designsystem.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-body">

    <div class="govuk-grid-column-full page-title">
      <h1>
        Design
      </h1>
      <p class="page-subtitle">
        Nulla malesuada augue purus, ut faucibus massa auctor vitae.<br> 
Nunc arcu, sollicitudin vel aliquet eu, vestibulum at diam.
      </p>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Components
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/components.html">Visual inventory</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Content design
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/content.html">Find out more</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Fonts & typography
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/fontstypography.html">View fonts and typography</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Icons
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/icons.html">View icons</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Images
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/images.html">View images</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Patterns
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/patterns.html">View patterns</a></p>   
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Styles
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam leo, mollis eget viverra in, tempus et metus. Sed facilisis est bibendum finibus posuere.</p>
         <p><a href="/design/styles.html">View styles</a></p>   
    </div>

  </div>

{% endblock %}


