
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles.html">Design principles</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <li>
            <a href="/design/images/">Images</a>
          </li>
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <li>
            <a href="/design/spacing/">Spacing</a>
          </li>

        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Design system
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Build consistent, accessible user interfaces. Learn from the research and experience of other HM Land Registry digital teams.
        </p>

        <p>
          Use these design styles, components and patterns to quickly make prototypes or build a live service. The examples in the HM Land Registry experience library come with code to make it easy for you to use them in your project.
        </p>
      </div>


      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">
          Design principles
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada, nisi ac blandit vulputate, risus diam feugiat ligula, ut semper urna purus non eros.</p>
      </div>



      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">
          Design
        </h2>

        <div>

          <div class="contentButtonBox Wide">
            <a href="/design/colour/">
              <p class="link">Colour</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/components/">
              <p class="link">Components</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/fontstypography/">
              <p class="link">Fonts & Typography</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/icons/">
              <p class="link">Icons</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/images/">
              <p class="link">Images</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/layouts/">
              <p class="link">Layouts</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/patterns/">
              <p class="link">Patterns</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/spacing/">
              <p class="link">Spacing</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

        </div>

    </div>


      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">
          Setup
        </h2>

        <div>

          <div class="contentButtonBox Wide">
            <a href="/design/prototyping.html">
              <p class="link">Prototyping</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/design/developing.html">
              <p class="link">Developing</p>
              <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
            </a>
          </div>

        </div>

    </div>

      {% include "includes/feedback.html" %}  

    </div>
    </div>





  </div>

</div>

{% endblock %}


