
{% extends "layout_designsystem_V2.html" %}



{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<style>
  .govuk-width-container {
    max-width: 1200px;
}

.searchBox {
    border-width: 1px;
    background-image:unset;
    padding-left:10px;
}


.select2-container--default .select2-results__option--group {
  padding: 0;
  font-family: arial;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000000;
  line-height: 39px;
  font-family: arial;
  font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  outline: none;
}

.select2-container {
  outline: none;
}

.select2-container--default .select2-selection--single:focus{
  outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  font-family: arial;
  font-size: 16px;
}

.select2-results__option {
  padding: 6px 6px 6px 10px;
  user-select: none;
  -webkit-user-select: none;
  font-family: arial;
  font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px;
  color: #000000;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 0px;
  height: 39px;
}

.select2-container {
  width: 275px !important;
}

.select2-container--open .select2-dropdown--below {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 250px;
  overflow-y: auto;
}

.form-label-bold {
  font-weight: 600;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png);
  background-color: transparent;
  background-size: contain;
  border: none !important;
  height: 20px !important;
  width: 20px !important;
  margin: auto !important;
  top: 8px;
  left: -5px;
}

.select2-search--dropdown {
  padding: 0px;
  border-bottom: 1px solid #000000;
  position: absolute;
  top: -38px;
  width: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0px solid #aaa;
  font-family: arial;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0px;
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
outline:0;
}

.select2-dropdown {
  border: 1px solid #000000;
  border-radius: 0px;
}

.select2-container--default .select2-results__group {
  padding: 6px 6px 6px 10px;
}


.select2-container--open .select2-dropdown--below {
    width: unset;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    overflow-x: scroll;
}

.govuk-grid-column-one-third{
  padding: 0px 15px;
}

.govuk-accordion__controls{
  display: none;
}



.govuk-list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
}

.govuk-list {
    margin-bottom: 20px;
}

.govuk-list>li {
    margin-bottom: 5px;
}

.app-page-contents__list li {
    margin-left: 0;
    padding-right: 15px;
}

.app-page-contents__list li:before {
    content: "– ";
    display: inline-block;
    padding-right: 5px;
}



</style>



<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <!-- <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Accessible auto-complete</a>
          </li>
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Alternate accordion</a>
          </li> -->
            <li class="active-sub-side-menu">
              <a  class="current-main" style="font-size: 16px;" href="/design/components/experimental/accordion-plus/">Table inside accordion</a>
            
<!-- <ul>

                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px;color: #006637;font-weight:600;" href="/design/components/experimental/accordion-plus/">Overview</a>
                  </li>
                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px;" href="/design/components/experimental/accordion-plus/status.html">Status</a>
                  </li>
                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px;" href="/design/components/experimental/accordion-plus/documentation.html">Documentation</a>
                  </li>
                </ul> -->
              </li>

              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/">Searchable dropdown</a>
              </li>
              
              <li>
                <a href="/design/fontstypography/">Fonts & typography</a>
              </li>
              <li>
                <a href="/design/icons/">Icons</a>
              </li>
              <!-- <li>
                <a href="/design/images/">Images</a>
              </li> -->
              <li>
                <a href="/design/layouts/">Layouts</a>
              </li>
              <li>
                <a href="/design/patterns/">Patterns</a>
              </li>

        </ul>
      </div>

    </div>

    <div class="right-content">

      <div class="">
        <div class="govuk-grid-column-full" style="margin-bottom:15px;">
        <span class="govuk-caption-xl">HM Land Registry component</span>
        <h1 class="govuk-heading-xl">
        Table inside accordion
        </h1>
      </div>


      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:30%; vertical-align: middle; padding:8px 20px 8px 0;">Component owners</th>
              <td class="govuk-table__cell" style="padding:8px 20px 8px 0;">Andy Carr</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:30%; vertical-align: middle; padding:8px 20px 8px 0;">Latest author</th>
              <td class="govuk-table__cell documentation_header" style="padding:8px 20px 8px 0;">Lauren Dowling</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:30%; vertical-align: middle; padding:8px 20px 8px 0;">Date of last edit</th>
              <td class="govuk-table__cell" style="padding:8px 20px 8px 0;">17th November 2021</td>
            </tr>
          </tbody>
        </table>
      </div>

        <div class="govuk-grid-column-full">
        <h2 id="what" class="govuk-heading-l">What is this component</h2>
        <p>The table inside accordion combines the functionality of the accordion component, allowing users to hide and show sections of related content, with the functionality of the table component, allowing users to scan and compare information.
        </p>
        <!-- <p>While the GDS accordion allows users to hide and show sections of related content and GDS table allows users to scan and compare information, the table inside accordion component combines both functionalities into one component.
        </p> -->
      </div>

      <div class="govuk-grid-column-full">
        <h2 id="example" class="govuk-heading-l">Example</h2>
      
      
              <div class="govuk-tabs" data-module="govuk-tabs" >
                <h2 class="govuk-tabs__title">
                  Examples
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#Interactive">
                      Interactive
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#animated">
                      Animated
                    </a>
                  </li>
                </ul>
                <div class="govuk-tabs__panel" id="animated" style="padding-bottom: 0px; height: 557px;">
                  <img src="/public/images/table-inside-accordian.gif" width="360">
                </div>
      
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Interactive" style="height: 557px; overflow-y: scroll;">
      
                  
                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
                  
                  <div class="govuk-accordion__controls" style="display: block;"><button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        
                      <button type="button" id="accordion-with-summary-sections-heading-1" aria-controls="accordion-with-summary-sections-content-1" class="govuk-accordion__section-button" aria-describedby="accordion-with-summary-sections-summary-1" aria-expanded="false" style="color: #006637">
                          Listed building
                        <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
                      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                        <p class="govuk-body">Change of use to commercial property. Approved subject to conditions </p>
                        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                          <p> <b>Creation date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17 September 2015</p>
                          
                        </div>
                      </div>
                    </div>
                    
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third" style="padding: 0px 15px;">
                      <p class="govuk-body"><b>Location</b></p>
                      </div>
            
                    <div class="govuk-grid-column-two-thirds">
                      <p class="govuk-body">38 Knatchbull Road, London SE5 9QY </p>
                      </div>
                    </div>
            
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p class="govuk-body"><b>Originating authority</b></p>
                    </div>
            
                  <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">	London Borough of Lambeth </p>
                    </div>
                  </div>
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                   <p class="govuk-body"><b>Authority Reference</b></p>
                   </div>
            
                  <div class="govuk-grid-column-two-thirds">
                   <p class="govuk-body">	17/04321/FUL</p>
                  </div>
                  </div>
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                  <p class="govuk-body"><b>Registration date</b></p>
                  </div>
            
                  <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body">12 July 2017</p>
                  </div>
                  </div>
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                  <p class="govuk-body"><b>Law</b></p>
                  </div>
            
                  <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body">Town and Country Planning Act 1990 section 70</p>
                  </div>
                  </div>
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                  <p class="govuk-body"><b>Legal document</b></p>
                  </div>
            
                  <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body">Planning permission</p>
                  </div>
                  </div>
            
                  </div>
                </div>
            
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      
                    <button type="button" id="accordion-with-summary-sections-heading-1" aria-controls="accordion-with-summary-sections-content-2" class="govuk-accordion__section-button" aria-describedby="accordion-with-summary-sections-summary-2" aria-expanded="false" style="color: #006637">
                        Conditional planning consent
                      <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                    <p class="govuk-body">Replacement of existing single glazing white timber windows with double glazing white timber windows (first floor flat)</p>
               <p></p>
                    <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                      <p> <b>Creation date</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10 October 2009</p>
            
                    </div>
                  </div>
                  </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            
                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p class="govuk-body"><b>Location</b></p>
                    </div>
            
                  <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">38 Knatchbull Road, London SE5 9QY </p>
                    </div>
                  </div>
            
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <p class="govuk-body"><b>Originating authority</b></p>
                  </div>
            
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body">	London Borough of Lambeth </p>
                  </div>
                </div>
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                 <p class="govuk-body"><b>Authority Reference</b></p>
                 </div>
            
                <div class="govuk-grid-column-two-thirds">
                 <p class="govuk-body">	16/04332/FUL</p>
                </div>
                </div>
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                <p class="govuk-body"><b>Registration date</b></p>
                </div>
            
                <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">24 March 2008</p>
                </div>
                </div>
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                <p class="govuk-body"><b>Law</b></p>
                </div>
            
                <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Town and Country Planning Act 1990 (Amended)</p>
                </div>
                </div>
                <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                <p class="govuk-body"><b>Legal document</b></p>
                </div>
            
                <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Planning permission</p>
                </div>
                </div>  </div>
                </div>
            
            
            
                </div>
            
              
                </div>

      
              </div>
            </div>


            <div class="govuk-grid-column-full">

                  <h2  id="why" class="govuk-heading-l">
                    Why was this component needed
                  </h2>
                  <p>This component helps avoid a situation where the user is inundated with content when they first land on this page. 
                  </p>
                  <p>By grouping relevant content in an accordion, summary information can be added to each accordion label to allow a basic overview to be provided at first glance. This will allow the user to easily identify and reveal the content relevant to them without the need to look through extensive additional information. If a particular section is of interest, the user can click the accordion to expand the content and receive the full breakdown of information. 
                  </p>
      
                </div>


                <div class="govuk-grid-column-full">
                  <h2  id="when" class="govuk-heading-l">
                    When to use
                  </h2>
                  <p>This experimental component can be used in instances where providing concise summaries enables ease of comparison and allows the user to identify and reveal content relevant to them. This component should be used for the purpose of increasing overall user experience when presenting extensive grouped information.
                  </p>
                </div>


      <div class="govuk-grid-column-full">
                  <h2  id="how" class="govuk-heading-l">
                    How to use
                  </h2>
                  <div class="govuk-grid-column-full" style="padding:0px;">

                    <div class="govuk-grid-column-one-half howToColumn">
                      <div class="howTo">
                        <div class="doDontImage" >
                          <img width="100%" src="/public/images/do-table-in-accordian.png" style="padding-top: 30px;">
                        </div>
                        <div class="howToDo">
                            <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DO_Tick.png">USE</p>
                            <p class="howToText">When there are a reasonable number of table rows to hide and reveal.</p>
                        </div>
                      </div>  
                    </div>

      
                    <div class="govuk-grid-column-one-half howToColumn">
                      <div class="howTo">
                        <div class="doDontImage">
                          <img width="100%" src="/public/images/dont-table-inside-accordian.png" style="padding-top: 70px;">
        
                        </div>
                        <div class="howToDont">
                          <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DONT_Cross.png">DON'T USE</p>
                          <p class="howToText">When there are a minimal number of table rows to hide and reveal.</p>
                        </div>
                      </div>  
                    </div>

                    
                  </div>
                  
        </div>
        <div class="govuk-grid-column-full">

          <h2 id="alternate" class="govuk-heading-l">
            Alternate example
          </h2>
          <h3 class="govuk-heading-m">
            Interactive table inside accordion
          </h3>
          <p>The table can also be adapted to include suitable interactive elements such checkboxes.
          </p>
          <p style="margin-bottom: 40px;">The example below is taken from the Request Title Information service on Portal Refresh. The accordions allow users to reveal each section for the document type relevant to them, compare the list of available documents and select the required versions.
          </p>

          <div class="govuk-tabs" data-module="govuk-tabs" >
            <h2 class="govuk-tabs__title">
              Examples
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#Interactive2">
                  Interactive
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#animated2">
                  Animated
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="animated2" style="padding-bottom: 0px; height: 600px;">
              <img src="/public/images/table-inside-accordian-interactive.gif" width="500">
            </div>
  
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Interactive2" style="height: 600px; overflow-y: scroll;">
  
              
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header table_2_header" style="width:35%;">Document type</th>
                    <th scope="row" class="govuk-table__header table_2_header" style="width:30%;">Status</th>
                    <th scope="row" class="govuk-table__header table_2_header" style="width:25%;">Format</th>
                    <th scope="row" class="govuk-table__header table_2_header" style="width:10%;">Cost</th>                  
                  </tr>
                  <tr class="govuk-table__row">
                    <td colspan="4" class="govuk-table__cell govuk-table__cell2" style="padding:0px;">
                      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" style="margin-bottom: 0px; border-bottom: none; border-top: none;">
                        <div class="govuk-accordion__section" style="border-top: none;">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading" >
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1" style="color: black; font-weight: 400; font-size: 19px;">
                                Register
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top:0px;">
                            <table class="govuk-table">
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:35%; border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="register_current" name="register_current" type="checkbox" value="register_current" onclick="checkbox1A()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        Current
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:30%; border-bottom: none;">Official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:25%; border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:10%; border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style="border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="register_sixteen" name="register_sixteen" type="checkbox" value="register_sixteen" onclick="checkbox1B()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        2016
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:35%; border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="register_02" name="register_02" type="checkbox" value="register_02" onclick="checkbox1C()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        2002
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:30%; border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:25%; border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:10%; border-bottom: none;">£3.00</td>              
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </td>
                  </tr>


                  <tr class="govuk-table__row">
                    <td colspan="4" class="govuk-table__cell govuk-table__cell2" style="padding:0px;">
                      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" style="margin-bottom: 0px; border-bottom: none; border-top: none;">
                        <div class="govuk-accordion__section" style="border-top: none;">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1" style="color: black; font-weight: 400; font-size: 19px;">
                                Title plan
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top:0px;">
                            <table class="govuk-table">
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:35%; border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_current" name="title_plan_current" type="checkbox" value="title_plan_current" onclick="checkbox2A()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        Current
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:30%; border-bottom: none;">Official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:25%; border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:10%; border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_16" name="title_plan_16" type="checkbox" value="title_plan_16" onclick="checkbox2B()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        2016
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_02" name="title_plan_02" type="checkbox" value="title_plan_02" onclick="checkbox2C()">
                                      <label class="govuk-label govuk-checkboxes__label" for="register">
                                        2002
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">£3.00</td>              
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </td>
                  </tr>


                  <tr class="govuk-table__row">
                    <td colspan="4" class="govuk-table__cell govuk-table__cell2" style="padding:0px;">
                      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" style="margin-bottom: 0px; border-bottom: none; border-top: none;">
                        <div class="govuk-accordion__section " style="border-top: none;">
                          <div class="govuk-accordion__section-header" style="border-bottom: 1px solid #b1b4b6;">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1" style="color: black; font-weight: 400; font-size: 19px;">
                                Title plan map
                              </span>
                            </h2>
                          </div>
                          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1" style="padding-top:0px;">
                            <table class="govuk-table">
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row" style="width:35%;">
                                  <td class="govuk-table__cell govuk-table__cell2" style="border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_map_current" name="title_plan_map_current" type="checkbox" value="title_plan_map" onclick="checkbox3A()">
                                      <label class="govuk-label govuk-checkboxes__label" for="title_plan_map">
                                        Current
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:30%; border-bottom: none;">Official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:25%; border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style="width:10%; border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_map_16" name="title_plan_map_16" type="checkbox" value="title_plan_map_16" onclick="checkbox3B()">
                                      <label class="govuk-label govuk-checkboxes__label" for="title_plan_map">
                                        2016
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">£3.00</td>              
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="title_plan_map_02" name="title_plan_map_02" type="checkbox" value="title_plan_map_02" onclick="checkbox3C()">
                                      <label class="govuk-label govuk-checkboxes__label" for="title_plan_map">
                                        2002
                                      </label>
                                    </div>
                                  </td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">Non-official Copy</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">PDF</td>
                                  <td class="govuk-table__cell govuk-table__cell2" style = "border-bottom: none;">£3.00</td>              
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </td>
                  </tr>

                </tbody>
              </table>
        
          
            </div>


            
  
          </div>



          
        </div>
        <!-- <div class="govuk-grid-column-full">
          <p class="govuk-body"></p>
        </div> -->
      

        <div class="govuk-grid-column-full" style="margin-bottom: 50px;">
    
          <h2 class="govuk-heading-l">
            Research
          </h2>
          <p class="govuk-body">This component was used in ten user research sessions that was focused on the streamlining and grouping of services within the portal platform. While the majority of participants were able to complete tasks that involved interacting with this component, further research should be carried out to test the use of the '+' symbol. 
          </p>
          <a class="govuk-link" href="status2.html">Table inside accordian component timeline</a>
  
        </div>

                        
                </div>

   


      

              {% include "includes/helpimprove.html" %}  

      </div>
    </div>  
        



  </div>

</div>

{% endblock %}





