
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles/">Design principles</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <li class="active-side-menu">
            <a class="current-main" href="/design/images/">Images</a>
          </li>
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <li>
            <a href="/design/spacing/">Spacing</a>
          </li>

        </ul>
      </div>


      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design</span>
        <h1 class="govuk-heading-xl">
        Images
        </h1>
</div>
<div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Use of images</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Photography</h2>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>


        <div class="govuk-grid-column-full" style="padding:0px;">

          <div class="govuk-grid-column-one-half howToColumn">
            <div class="howTo">
              <div class="doDontImage">
                
              </div>
              <div class="howToDo">
                  <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DO_Tick.png">DO</p>
                  <p class="howToText">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>  
          </div>


          <div class="govuk-grid-column-one-half howToColumn">
            <div class="howTo">
              <div class="doDontImage">
                

              </div>
              <div class="howToDont">
                <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DONT_Cross.png">DON'T</p>
                <p class="howToText">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>  
          </div>
        </div>
        </div>
        <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          Alternative text
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
          <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</li>
          <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>

        </ul>    
      </div>


      {% include "includes/helpimprove.html" %}  

      </div>
    </div>  
  </div>

</div>

{% endblock %}


