
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/V2/design/">Design principles</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/V2/Lauren/design/prototyping">Prototyping</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/developing">Developing</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a class="current-main" href="/V2/Lauren/design/components/">Components</a>
          </li>
              <li style="margin-left: 30px;">
                <a style="font-size: 14px;" href="/V2/Lauren/design/components/experimental/enhanced-dropdown/">Enhanced dropdown</a>
              </li>
                  
              <li style="margin-left: 30px;">
                <a class="current-main" style="font-size: 14px;" href="/V2/Lauren/design/components/experimental/print-summary/">Print summary</a>
              </li>
                <li class="current-borderLeft" style="margin-left: 50px;">
                  <a  class="current-main" style="font-size: 14px;" href="/V2/Lauren/design/components/experimental/print-summary/">Overview</a>
                </li>
                <li style="margin-left: 60px;">
                  <a style="font-size: 14px;" href="/V2/Lauren/design/components/experimental/print-summary/status.html">Status</a>
                </li>
                <li style="margin-left: 60px;">
                  <a style="font-size: 14px;" href="https://www.notion.so/" target="_blank">Documentation</a>
                </li>
              <li style="margin-left: 30px;">
                <a  style="font-size: 14px;" href="/V2/Lauren/design/components/experimental/radio-questions/">Radio questions</a>
              </li>
          <li>
            <a href="/V2/Lauren/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/icons.html">Icons</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/images.html">Images</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/patterns/">Patterns</a>
          </li>
          <li>
            <a href="/V2/Lauren/design/styles.html">Styles</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Experimental component</span>
        <h1 class="govuk-heading-xl">
        Print summary
        </h1>

        <h2 class="govuk-heading-l">What is this component?</h2>
        <p style="margin-bottom: 40px;">This component has been designed to allow users to easily search dropdown menus containing long lists of data without having to scroll.</p>
        <h2 class="govuk-heading-l">Example</h2>
      
      
              <div class="govuk-tabs" data-module="govuk-tabs" >
                <h2 class="govuk-tabs__title">
                  Examples
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#animated">
                      Animated
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#Interactive">
                      Interactive
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#HTML">
                      HTML & Javascript
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#Nunjucks">
                      Nunjucks
                    </a>
                  </li>
                </ul>
                <div class="govuk-tabs__panel" id="animated">
                  <img src="/public/images/enhanced_dropdown.gif">
                </div>
      
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Interactive">
      
                  
      
                      <form id="search" style="">
            
                        <div class="govuk-body" style="margin-bottom: 30px;">
                            <label class="govuk-label form-label-bold">
                                Users and groups
                            </label>
                            <select id="cat" class="form-control">
                                <optgroup label="Recent searches">
                                    <option value="NewLayout_Default.html">Andy Carr (you)</option>
                                    <option value="NewLayout_JT.html">John Taylor</option>
                                    <option value="NewLayout_PG.html">Pat Gannon</option>
                                    <option value="NewLayout_NA.html">Nicola Andrews</option>
                                    <option value="NewLayout_JP.html">Jon Parker</option>
                                    </optgroup>
                                    <optgroup label="All colleagues">
                                    <option value="#">Aaron Flynn</option>
                                    <option value="#">Alex Blewett</option>
                                    <option value="NewLayout_Default">Andy Carr</option>
                                    <option value="#">Duncan Anderson</option>
                                    <option value="#">James Thomas</option>
                                    <option value="#">John Baptiste-Kelly</option>
                                    <option value="#">John James</option>
                                    <option value="NewLayout_JT">John Taylor</option>
                                    <option value="NewLayout_JP.html">Jon Parker</option>
                                    <option value="#">Juan Pinto-del-Rio</option>
                                    <option value="#">Lukas Kroening-Maynard</option>
                                    <option value="#">Mark Hornsby</option>
                                    <option value="#">Melvia Mathew</option>
                                    <option value="#">Neil Butler</option>
                                    <option value="NewLayout_NA.html">Nicola Andrews</option>
                                    <option value="NewLayout_PG.html">Pat Gannon</option>
                                    <option value="#">Romani Davies</option>
                                    <option value="#">Simon Skidmore</option>
                                    <option value="#">Sue Watchman</option>
                                    <option value="#">Tony Watson</option>
                                    </optgroup>
                            </select>
                        </div>
            
                    </form>
              
                </div>
      
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="HTML">
              
                  <div class="app-example__code">
                    <pre data-module="app-copy" tabindex="0"><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs"</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"govuk-tabs"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__title"</span>&gt;</span>
                  Contents
                <span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__list"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__list-item govuk-tabs__list-item--selected"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__tab"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#past-day"</span>&gt;</span>
                      Past day
                    <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__list-item"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__tab"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#past-week"</span>&gt;</span>
                      Past week
                    <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__list-item"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__tab"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#past-month"</span>&gt;</span>
                      Past month
                    <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__list-item"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__tab"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#past-year"</span>&gt;</span>
                      Past year
                    <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__panel"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"past-day"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-heading-l"</span>&gt;</span>Past day<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">thead</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__head"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Case manager<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases opened<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases closed<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__body"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>David Francis<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Paul Farmer<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Rita Patel<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
              
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__panel govuk-tabs__panel--hidden"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"past-week"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-heading-l"</span>&gt;</span>Past week<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">thead</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__head"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Case manager<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases opened<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases closed<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__body"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>David Francis<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>24<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>18<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Paul Farmer<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>16<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>20<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Rita Patel<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>24<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>27<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
              
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__panel govuk-tabs__panel--hidden"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"past-month"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-heading-l"</span>&gt;</span>Past month<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">thead</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__head"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Case manager<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases opened<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases closed<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__body"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>David Francis<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>98<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>95<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Paul Farmer<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>122<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>131<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Rita Patel<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>126<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>142<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
              
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-tabs__panel govuk-tabs__panel--hidden"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"past-year"</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-heading-l"</span>&gt;</span>Past year<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">thead</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__head"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Case manager<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases opened<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header"</span>&gt;</span>Cases closed<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__body"</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>David Francis<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1380<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1472<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Paul Farmer<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1129<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1083<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>Rita Patel<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1539<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell"</span>&gt;</span>1265<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
              
                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
                  </div>
      
            </div>
      
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Nunjucks">
              
      <h2>Coming soon...</h2>
      
                </div>
      
              </div>

                  <h2 class="govuk-heading-l">
                    Why was this component needed?
                  </h2>
                  <p>The Portal Refresh team working on View My Applications are introducing a new update that allows users to see applications lodged by anyone in their organisation. This means that the user potentially has access to hundreds of different user's applications.</p> 
                  <p>To allow the user to view all of the applications for a particular individual, a dropdown menu was introduced. This could mean potentially scrolling a list of hundreds of colleagues, by implementing search functionality within the dropdown menu itself, the user is able to locate a colleague quickly by typing the start of their name. As the user types, the search starts filtering the names in the dropdown menu.</p>
      
      

                  <h2 class="govuk-heading-l">
                    When to use
                  </h2>
                  <p>This component should be used when the dropdown menu contains more than 20 options and no other standard GDS solution (check boxes, radio buttons) create a suitable user experience.</p>

      
                  <h2 class="govuk-heading-l">
                    How to use
                  </h2>
                  <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmo.</p>
                  <div class="govuk-grid-column-full" style="padding:0px;">

                    <div class="govuk-grid-column-one-third howToColumn">
                      <div class="howTo">
                        <div class="doDontImage" >
                          <img width="100%" src="/public/images/experimental_dropdown_5items.PNG">
                        </div>
                        <div class="howToDo">
                            <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DO_Tick.png">DO</p>
                            <p class="howToText">When the dropdown menu has more than 20 options to select from.</p>
                        </div>
                      </div>  
                    </div>

      
                    <div class="govuk-grid-column-one-third howToColumn">
                      <div class="howTo">
                        <div class="doDontImage">
                          <img width="100%" src="/public/images/experimental_dropdown_3items.PNG">
        
                        </div>
                        <div class="howToDont">
                          <p class="howToTitle"><img style="padding-right: 5px;position: relative;top: 2px;" src="/public/images/DONT_Cross.png">DON'T</p>
                          <p class="howToText">When the dropdown menu has just a few items in it.</p>
                        </div>
                      </div>  
                    </div>
                  </div>

                        
      

                  <h2 class="govuk-heading-l">
                    Anatomy
                  </h2>
                  <img class="anatomy-image" src="/public/images/anatomy-expandable.jpg">
                  <ol class="list">
                    <li><span class="govuk-!-font-weight-bold">Form field:</span> Uses same styling as GDS</li>
                    <li><span class="govuk-!-font-weight-bold">Icon:</span> Use an icon to convey it's a dropdown menu</li>
                    <li><span class="govuk-!-font-weight-bold">Search:</span> The form field becomes searchable when clicked on</li>
                    <li><span class="govuk-!-font-weight-bold">Highlighted:</span> Selected item is more noticeable</li>
                    <li><span class="govuk-!-font-weight-bold">Scrollable:</span> Exapnded list is scrollable if required</li>
                  </ol>

      
                <h2 class="govuk-heading-l">
                  Help improve this page
                </h2>
                <p>To help make sure that this page is useful, relevant and up to date, you can:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a class="govuk-link" href="#">
                      share your research with the design system team
                    </a>
                  </li>
                  <li>
                    <a class="govuk-link app-contact-panel__link" href="https://github.com/alphagov/govuk-design-system/edit/main/src/components/footer/index.md.njk">propose a change</a>
                  </li>
                </ul>

      
      

      </div>
    </div>  
        



  </div>

</div>

{% endblock %}


