
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/V2/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/V2/Design/">Design system</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/V2/design/">Design principles</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/V2/design/">Prototyping</a>
          </li>
          <li>
            <a href="/V2/design/">Developing</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/V2/design/components/experimental/">Components</a>
          </li>
          <li>
            <a href="/V2/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/V2/design/icons.html">Icons</a>
          </li>
          <li>
            <a href="/V2/design/images.html">Images</a>
          </li>
          <li>
            <a href="/V2/design/layouts.html">Layouts</a>
          </li>
          <li>
            <a href="/V2/design/patterns.html">Patterns</a>
          </li>
          <li>
            <a href="/V2/design/styles.html">Styles</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Design system
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Build consistent, accessible user interfaces. Learn from the research and experience of other HM Land Registry digital teams.
        </p>

        <p>
          Use these design styles, components and patterns to quickly make prototypes or build a live service. The examples in the HM Land Registry experience library come with code to make it easy for you to use them in your project.
        </p>
    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


