
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/V2/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/V2/accessibility/">Accessibility</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Lorem ipsum</p>
        <ul>
          <li>
            <a href="#">Lorem ipsum</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Lorem ipsum</p>
        <ul>
          <li>
            <a href="#">Lorem ipsum</a>
          </li>
          <li>
            <a href="#">Lorem ipsum</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Accessibility
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna feugiat non pellentesque ultricies. Mollis magna facilisis diam id in diam.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna feugiat non pellentesque ultricies. Mollis magna facilisis diam id in diam.
        </p>
    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


