
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu" style="margin-right: 50px; width: 225px;">
      <div class="sideMenuSection">
        <ul>
          <li class="active-side-menu">
            <a class="current-main" href="/priorities/">Homepage</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Experimental components</p>
        <ul>
          <li>
            <a href="/priorities/components/autocomplete.html">Accessible autocomplete</a>
          </li>
          <li>
            <a href="/priorities/components/nestedradios.html">Nested radio buttons</a>
          </li>
          <li>
            <a href="/priorities/components/sidemenuAccordian.html">Side menu accordian</a>
          </li>
          <li>
            <a href="/priorities/components/closeablebanner.html">Closeable banner</a>
          </li>
          <li>
            <a href="/priorities/components/colourtoggle.html">Colour toggle</a>
          </li>
          <li>
            <a href="/priorities/components/searchwithicon.html">Search box with icon</a>
          </li>
          <li>
            <a href="/priorities/components/tableinsideaccordian.html">Table inside accordian</a>
          </li>
          <li>
            <a href="/priorities/components/navmenu.html">Nav menu</a>
          </li>

          <li>
            <a href="/priorities/components/pagination.html">Pagination</a>
          </li>

        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Experimental patterns</p>
        <ul>
          <li>
            <a href="/priorities/patterns/inlineedit">Inline edit answers</a>
          </li>
          <li>
            <a href="/priorities/patterns/languagetoggle">On page language toggle</a>
          </li>
          <li>
            <a href="/priorities/patterns/multipleerrors">Multiple errors on page</a>
          </li>
          <li>
            <a href="/priorities/patterns/availabledocuments">Displaying available documents to download</a>
          </li>
          <li>
            <a href="/priorities/patterns/colourtags">Colours for tags and banners</a>
          </li>
          <li>
            <a href="/priorities/patterns/brandedsectionbreak">Branded section break</a>
          </li>
          <li>
            <a href="/priorities/patterns/shopping">eCommerce shopping experience</a>
          </li>
          <li>
            <a href="/priorities/patterns/before">Before you start page</a>
          </li>
          <li>
            <a href="/priorities/patterns/singledata">Single point of data entry</a>
          </li>
          <li>
            <a href="/priorities/patterns/helpful">Was this helpful?</a>
          </li>
          <li>
            <a href="/priorities/patterns/addresses">Capturing addresses</a>
          </li>
          <li>
            <a href="/priorities/patterns/parties">Capturing parties</a>
          </li>
          <li>
            <a href="/priorities/patterns/infills">Completing infills</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">
        Prioritising experimental components and patterns
        </h1>
        <p style="font-size:19px;">
          A few weeks ago, we asked each team to provide a brief summary of the experimental components and patterns currently being explored for use across their service. 
        </p>
        <p style="font-size:19px;">
          Before components or patterns can be added to the Design System, they must first be reviewed by the Design System steering group. Input from the community is needed to help us prioritise which components and patterns to review first.
        </p>
        <p style="font-size:19px;">
          <strong>The task:</strong>
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Look through each experimental component and pattern.</li>
          <li>Complete the survey.</li>
        </ul>

        </div>



      </div>
    </div>





  </div>

</div>

{% endblock %}


