
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #008548 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <div class="sideMenu">
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Getting started</p>
          <ul>
            <li>
              <a href="designers.html">Designers</a>
            </li>
            <!-- <li>
              <a href="/handbook/developers.html">Developers</a>
            </li> -->
          </ul>
        </div>
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Download toolkits</p>
          <ul>
            <li>
              <a href="#">Figma</a>
            </li>
            <li>
              <a href="#">Adobe XD</a>
            </li>
            <!-- <li>
              <a href="#">Sketch</a>
            </li>
            <li>
              <a href="#">Prototyping</a>
            </li>
            <li>
              <a href="#">Developing</a>
            </li> -->
          </ul>
        </div>
  
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Helpful information</p>
          <ul>
            <li class="active-side-menu">
              <a class="current-main" href="job-roles.html">Job roles</a>
            </li>
            <li>
              <a href="software.html">Software</a>
            </li>
          </ul>
        </div>
  
  
      </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Helpful information</span>
        <h1 class="govuk-heading-xl">
        Job roles
        </h1>

        <p style="font-size:24px;margin-bottom:25px;">
          Learn about the different roles and responsibilities of your colleagues at HM Land Registry.
        </p>


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Head of Design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Head of Design provides a creative vision not just for the design team but the whole organisation. They establish processes and practices for realising that vision, and set the bar for quality.</p>
                
              <p class='govuk-body' style="padding-bottom: 25px;">They contribute to the development of brand definition and experience principles, and ensure that those are appropriately interpreted through the team’s work.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Interaction Designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>An interaction designer works out the best way to let users interact with services, in terms of both overall flow and at the level of individual design elements.</p>
              <p><a href="https://www.gov.uk/guidance/interaction-designer">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Content Designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Content designers make things easier for people to understand and use. This can involve working on a single piece of content or on the end-to-end journey of a service to help users complete their goal and government deliver a policy intent. In this role your work may involve the creation of, or change to, a transaction, product or single piece of content that stretches across digital and offline channels.</p>
              <p><a href="https://www.gov.uk/guidance/content-designer">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Service designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Service designers design the end-to-end journey of a service. This helps a user complete their goal and government deliver a policy intent. In this role, your work may involve the creation of, or change to, transactions, products and content across both digital and offline channels provided by different parts of government.</p>
              <p><a href="https://www.gov.uk/guidance/service-designer">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Service owner
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A service owner is accountable for the quality of their service. In this role, you will be expected to adopt a portfolio view, managing end-to-end services that include multiple products and channels.</p>
              <p><a href="https://www.gov.uk/guidance/service-owner">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Frontend Developer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A frontend developer designs, builds and improves website software that meets user needs. They ensure that users of the website or service can easily interact with it.</p>
              <p><a href="https://www.gov.uk/guidance/frontend-developer">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Backend developer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'><b>This has been copied from the web - requires rewriting.</b>The 'back end' of a website is a combination of technology and programming that powers a website. It consists of three parts that a user never sees: a server, an application, and a database.</p>

              <p class='govuk-body'> A back-end developer is someone who builds and maintains the technology needed to power the components which enable the user-facing side of the website to exist. Their back end code adds utility to everything the front-end developer creates.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  User researcher
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>User researchers plan, design and carry out research activities with users that help teams get a deep understanding of the people that use government services. This research informs policy, proposition, service, content and interaction design so that services work well for users and achieves policy intent.</p>
              <p><a href="https://www.gov.uk/guidance/user-researcher">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Project Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Project manager's are accountable for shaping and delivering projects/ programmes to quality, budget and time tolerances. This is achieved through regular reviews with the wider project team and
                project documentation, including verifying feature delivery actuals.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Product Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A product manager is responsible for the quality of their products. In this role, you will be expected to use your knowledge of user needs and business goals to frame problems and set priorities for your delivery teams.</p>
              <p><a href="https://www.gov.uk/guidance/product-manager">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Product owner
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>
                Product owner's are responsible for setting the release roadmap and maximising the value of delivery within
                time and budget constraints. Through engagement and collaboration with stakeholders and team,
                they build a joint understanding of business problems and user challenges to guide the creation
                and ongoing maintenance of the product backlog. They are accountable for the backlog and
                ensure that the team has the highest value items refined and understood, ready for development.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Business analyst
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Business analysts understand and analyse user and business needs.</p>
              <p><a href="https://www.gov.uk/guidance/business-analyst--2">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Delivery manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A delivery manager is accountable for the delivery of products and services.</p>
              <p><a href="https://www.gov.uk/guidance/delivery-manager">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Scrum master
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Scrum master's are Agile subject matter experts and coach teams, product owners and stakeholders in the adoption of Agile principles, processes and techniques and enact positive change to teams. They support the product owner and team in the creation and maintenance of the backlog, including backlog refinement and facilitation of Agile events. </p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Test analyst
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Test analysts create and execute test cases, ensuring software is tested to the right levels and that any defects, risks or issues are reported in a timely manner. They ensure all testing and defects are
                carried out in accordance with testing standards.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Line Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A line manager is a person with direct managerial responsibility for a particular employee.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Buddy
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A buddy is assigned to new starters at HM Land Registry. They help to answer questions or give guidance where needed. </p>
            </div>
          </div>
        </div>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}

