
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Getting started</p>
        <ul>
          <li>
            <a href="/V2/Lauren/gettingstarted/designers.html">Designers</a>
          </li>
          <li>
            <a href="/V2/Lauren/gettingstarted/developers.html">Developers</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Download toolkits</p>
        <ul>
          <li>
            <a href="#">Figma</a>
          </li>
          <li>
            <a href="#">Adobe XD</a>
          </li>
          <li>
            <a href="#">Sketch</a>
          </li>
          <li>
            <a href="#">Prototyping</a>
          </li>
          <li>
            <a href="#">Developing</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Getting started</span>
        <h1 class="govuk-heading-xl">
        Designers
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Making sure you have what you need.
        </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1" style="color: #0b0c0c;">
                  Gain awareness of the various softwares used
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>We use different software to help us in our day-to-day work. This list can often change as we trial and replace software.
              </p>
              <a class="govuk-link" style="color: #008548;">Introduction to design softwares and tools</a>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2" style="color: #0b0c0c;">
                  Organise software licenses
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>Contact your line manager to be assigned the relevant software licences.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3" style="color: #0b0c0c;">
                  Download selected digital design softwares
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p><a class="govuk-link" style="color: #008548;">How to download Sketch</a></p>
              <p><a class="govuk-link" style="color: #008548;">How to download Adobe XD</a></p>
              <p><a class="govuk-link" style="color: #008548;">How to download Figma</a></p>

            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4" style="color: #0b0c0c;">
                  Complete tutorials
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p><a class="govuk-link" style="color: #008548;">Sketch tutorial</a></p>
              <p><a class="govuk-link" style="color: #008548;">Adobe XD tutorial</a></p>
              <p><a class="govuk-link" style="color: #008548;">Figma tutorial</a></p>            
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4" style="color: #0b0c0c;">
                  Download GOV.UK wireframing kit
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p><a class="govuk-link" style="color: #008548;">How to download Gov.uk wireframing kit</a></p>
              <p><a class="govuk-link" style="color: #008548;">Guide to using the Gov.uk wireframing kit</a></p>             
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4" style="color: #0b0c0c;">
                  Download GOV.UK prototyping kit
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p><a class="govuk-link" style="color: #008548;">How to download Gov.uk prototyping kit</a></p>
              <p><a class="govuk-link" style="color: #008548;">Tips and tricks for using the Gov.uk prototyping kit</a></p>              </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4" style="color: #0b0c0c;">
                  Download  a code editor
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p><a class="govuk-link" style="color: #008548;">How to download Atom</a></p>
              <p><a class="govuk-link" style="color: #008548;">A guide to using Atom</a></p>              
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4" style="color: #0b0c0c;">
                  Complete GOV.UK prototyping kit tutorial
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p><a class="govuk-link" style="color: #008548;">Gov.uk prototyping kit tutorial</a></p>
              <p><a class="govuk-link" style="color: #008548;">A guide to using the Gov.uk prototyping kit</a></p>             </div>
          </div>
        </div>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


