
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Getting started</p>
        <ul>
          <li>
            <a href="/V2/Lauren/gettingstarted/designers.html">Designers</a>
          </li>
          <li>
            <a href="/V2/Lauren/gettingstarted/developers.html">Developers</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Download toolkits</p>
        <ul>
          <li>
            <a href="#">Figma</a>
          </li>
          <li>
            <a href="#">Adobe XD</a>
          </li>
          <li>
            <a href="#">Sketch</a>
          </li>
          <li>
            <a href="#">Prototyping</a>
          </li>
          <li>
            <a href="#">Developing</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Getting started</span>
        <h1 class="govuk-heading-xl">
        Developers
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna feugiat non pellentesque ultricies. Mollis magna facilisis diam id in diam.
        </p>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}


