
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  HMLR Design System 2021
{% endblock %}

{% block content %}

<div class="heroSection">
    <div class="contentSection">
        <h1>
          Design and build digital services for HM Land Registry
        </h1>
        <p>Use the service manual to build consistent, usable services that put people first.​ Learn from the research and experience of other HM Land Registry teams.</p>
  </div>
</div>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">


    <div class="govuk-grid-column-full">

      <div class="contentButtonBox">
        <a href="/V2/gettingstarted/">
          <p class="link">Getting started</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/V2/design/">
          <p class="link">Design system</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/V2/content/">
          <p class="link">Content style guide</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/V2/guidance/">
          <p class="link">Guidance</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/V2/accessibility/">
          <p class="link">Accessibility</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/V2/community/">
          <p class="link">Community</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>




  </div>

  <!-- <div class="govuk-grid-column-full">

      <div class="contentButtonBox">
          <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>

      <div class="contentButtonBox">
        <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
        <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>

      <div class="contentButtonBox">
        <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
        <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>
      
      <div class="contentButtonBox">
        <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
        <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>

      <div class="contentButtonBox">
        <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
        <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>

      <div class="contentButtonBox">
        <p class="link"><a href="/V2/gettingstarted/">Getting started</a></p>
        <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
      </div>


  </div> -->


    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
        Feedback
        </h2>
        <p>
          Let us know about your visit to the service manual today by filling in <a href="/community/">our survey on the Qualtrics website</a>.
        </p>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
        Support
        </h2>
        <p>
          The manual is maintained by the Experience Library team at HM Land Registry. If you've got a question or want to feedback, you can <a href="/community/">get in touch</a>.
        </p>
    </div>

  </div>

</div>

{% endblock %}


