
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}


<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Contribute</p>
        <ul>
          <li>
            <a href="steering-group.html">HMLR Experience Library Team</a>
          </li>
          <li>
            <a href="backlog.html">Backlog</a>
          </li>
          <li>
            <a href="newideas.html">Suggest new ideas</a>
          </li>
          <li>
            <a href="contribution.html">Contribution criteria</a>
          </li>
          <li>
            <a href="notion.html">Notion</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Working at HMLR</p>
        <ul>
          <li>
            <a href="job-roles.html">Job roles</a>
          </li>
          <li>
            <a href="software.html">Software</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Community
        </h1>
        
        

      <p>This Experience Library is for everyone. Its purpose is to extend the <a class="govuk-link" style="color: #008548 !important;" href="https://design-system.service.gov.uk/">GOV.UK Design System</a> with work specific to HM Land Registry.
      </p>

      <p>Patterns or components that have a wider use will be contributed to the GOV.UK Design System so they can be used by delivery teams across government.
      </p>

      <p>Find out more in this section about how you can contribute ideas and get involved with the HM Land Registry Experience Library.
      </p>

    </div>

      





  </div>
    </div>





  </div>

</div>

{% endblock %}


