
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #006637 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <div class="sideMenu">
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Contribute</p>
  
          <ul>
            <li>
              <a href="steering-group.html">HMLR Experience Library Team</a>
            </li>
            <li>
              <a href="backlog.html">Backlog</a>
            </li>
            <li>
              <a href="newideas.html">Suggest new ideas</a>
            </li>
            <li>
              <a href="contribution.html">Contribution criteria</a>
            </li>
            <li >
              <a href="notion.html">Notion</a>
            </li>
          </ul>
        </div>
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Working at HMLR</p>
          <ul>
            <li class="active-side-menu">
              <a class="current-main" href="job-roles.html">Job roles</a>
            </li>
            <li>
              <a href="software.html">Software</a>
            </li>
          </ul>
        </div>
  
  
  
      </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Working at HMLR</span>
        <h1 class="govuk-heading-xl">
        Job roles
        </h1>

        <p style="font-size:24px;margin-bottom:25px;">
          Learn about the different roles and responsibilities of your colleagues at HM Land Registry.
        </p>


        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Head of Design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Head of Design provides a creative vision, not just for the design team but the whole organisation. They establish processes and practices for realising that vision and set the bar for quality.</p>
                
              <p class='govuk-body' style="padding-bottom: 25px;">They contribute to the development of brand definition and user experience principles, whilst also ensuring they are met through each team’s work.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Interaction Designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>An Interaction Designer works out the best way to let users interact with services. They work out the overall user journey and decide which individual design elements should be used.</p>
              <p><a href="https://www.gov.uk/guidance/interaction-designer" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Content Designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Content designers make things easier for people to understand and use. This can involve working on a single piece of content or on the end-to-end journey of a service to help users complete their goal. In this role your work may involve the creation of, or change to, a transaction, product or single piece of content that stretches across digital and offline channels.</p>
              <p><a href="https://www.gov.uk/guidance/content-designer" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Service designer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Service designers design the end-to-end journey of a service. This helps a user complete their goal and government deliver a policy intent. In this role, your work may involve the creation of, or change to, transactions, products and content across both digital and offline channels provided by different parts of government.</p>
              <p><a href="https://www.gov.uk/guidance/service-designer" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Service owner
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A service owner is accountable for the quality of their service. In this role, you will be expected to adopt a portfolio view, managing end-to-end services that include multiple products and channels.</p>
              <p><a href="https://www.gov.uk/guidance/service-owner" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Frontend Developer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A frontend developer designs, builds and improves website software that meets user needs. They ensure that users of the website or service can easily interact with it.</p>
              <p><a href="https://www.gov.uk/guidance/frontend-developer" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Backend Developer
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>The 'back end' of a website is the combination of technology and programming that powers a website to enable full functionality.</p>

              <p class='govuk-body'> A Backend Developer is someone who builds and maintains the technology needed to enable the user-facing side of the website to exist. Their back-end code adds utility to everything the front-end developer creates.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  User Researcher
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A User Researcher plans, designs and carries out research activities with users. Their research outputs help teams gain a deeper understanding of the people that use government services. This research informs policy, proposition, service, content and interaction design to achieve high-quality services and policy intent.</p>
              <p><a href="https://www.gov.uk/guidance/user-researcher" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Project Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Project Manager is accountable for shaping and delivering projects and programmes that are high-quality, within budget and delivered on time. This is achieved through regular reviews with the wider project team,
                documentating each step and verifying feature delivery actuals.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Product Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Product Manager is responsible for the quality of their products. Product Managers are expected to use their knowledge of user needs and business goals to frame problems and set priorities for the delivery teams.</p>
              <p><a href="https://www.gov.uk/guidance/product-manager" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Product owner
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>
                A Product Owner is responsible for setting the release roadmap and maximising the value of delivery within
                time and budget constraints. Through engagement and collaboration with stakeholders and the team,
                a Product Owners builds a joint understanding of business problems and user challenges to guide the creation
                and ongoing maintenance of the product backlog. They are responsible for ensuring
                that the team has the highest value items refined and understood, ready for development.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Business analyst
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Business Analyst understands and analyses user and business needs.</p>
              <p><a href="https://www.gov.uk/guidance/business-analyst--2" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Delivery manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Delivery Manager is accountable for the delivery of products and services.</p>
              <p><a href="https://www.gov.uk/guidance/delivery-manager" target="_blank">Read the GOV UK Guidance for this role</a>.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Scrum master
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Scrum Master is an expert on Agile ways of working. Scrum Masters coach teams, Product Owners and stakeholders in the adoption of Agile principles, processes and techniques. They support the Product Owner and team in the creation and maintenance of the backlog, including backlog refinement and facilitation of Agile events. </p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Test analyst
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Test analyst creates and executes test cases to ensure software is tested to the right standard, with any defects, risks or issues reported in a timely manner. They ensure all testing and defects are
                carried out in accordance with testing standards.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Line Manager
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Line Manager is a person with direct managerial responsibility for a particular employee.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Buddy
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>A Buddy is assigned to new starters at HM Land Registry. They help to answer questions or provide guidance where needed. </p>
            </div>
          </div>
        </div>

    </div>
  </div>
    </div>





  </div>

</div>

{% endblock %}

