
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-heading-l {
    margin-bottom: 5px;
}
</style>

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <div class="sideMenu">
        <div class="sideMenuSection">
          <p class="sideMenuTitle">Contribute</p>

          <ul>
            <li>
              <a href="steering-group.html">HMLR Experience Library Team</a>
            </li>
            <li>
              <a href="backlog.html">Backlog</a>
            </li>
            <li class="active-side-menu">
              <a class="current-main" href="newideas.html">Suggest new ideas</a>
            </li>
            <li>
              <a href="contribution.html">Contribution criteria</a>
            </li>
            <li>
              <a href="notion.html">Notion</a>
            </li>
          </ul>
        </div>

        <div class="sideMenuSection">
          <p class="sideMenuTitle">Working at HMLR</p>
          <ul>
            <li>
              <a href="job-roles.html">Job roles</a>
            </li>
            <li>
              <a href="software.html">Software</a>
            </li>
          </ul>
        </div>
      </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Contribute</span>
        <h1 class="govuk-heading-xl">
          Suggest new ideas
        </h1>
        
        <p>Anyone working at HM Land Registry can suggest adding a new component or pattern to the Experience Library.</p>
        
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        1. Check the backlog
      </h2>
      <p>Check if the pattern or component is already on the backlog.</p>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        2. Contact the Experience Library team
      </h2>
      <p>If the pattern or component is already in the backlog and you would like to contribute to its development, please contact the Experience Library team by emailing Lauren Dowling. You will then be added to the working group for this component or pattern.
        </p>
        <p>If the pattern or component does not exist in the backlog, please contact the Experience Library team by emailing Lauren Dowling. Include details of the new component or pattern in your email to provide context on how the <a class="govuk-link" href="/getinvolved/contribution.html" style="color: #008548 !important;">contribution criteria</a> is met.
        </p>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        3. Fill in documentation template
      </h2>
      <p>Once decided by the steering group that your suggestion does fulfil the criteria, you will be sent the documentation template. This should be filled in alongside any other team members wishing to contribute.</p>
    </div>

    <!-- <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">
        3. Raise a new issue
      </h2>
      <p>If your idea is not on the backlog, <a href="#">raise an issue in Github</a>. You can use our <a href="#">Github guide</a> to help you do this, or <a href="#">get in touch</a> with the Experience Library team.</p>
    </div> -->



  </div>
</div>



{% endblock %}


