
{% extends "layout_designsystem_V2_copy.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/V2/design/">Design principles</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/V2/design/">Prototyping</a>
          </li>
          <li>
            <a href="/V2/design/">Developing</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a class="current-main" href="/V2/design/components/">Components</a>
          </li>
              <li style="margin-left: 30px;">
                <a  class="current-main" style="font-size: 14px;" href="/V2/design/components/">Enhanced dropdown</a>
              </li>
                  <li class="current-borderLeft" style="margin-left: 50px;">
                    <a  class="current-main" style="font-size: 14px;" href="/V2/design/components/">Overview</a>
                  </li>
                  <li style="margin-left: 60px;">
                    <a style="font-size: 14px;" href="/V2/design/components/">Status</a>
                  </li>
                  <li style="margin-left: 60px;">
                    <a style="font-size: 14px;" href="/V2/design/components/">Documentation</a>
                  </li>
              <li style="margin-left: 30px;">
                <a  style="font-size: 14px;" href="/V2/design/components/">Print summary</a>
              </li>
              <li style="margin-left: 30px;">
                <a  style="font-size: 14px;" href="/V2/design/components/">Radio questions</a>
              </li>
          <li>
            <a href="/V2/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/V2/design/icons.html">Icons</a>
          </li>
          <li>
            <a href="/V2/design/images.html">Images</a>
          </li>
          <li>
            <a href="/V2/design/layouts.html">Layouts</a>
          </li>
          <li>
            <a href="/V2/design/patterns.html">Patterns</a>
          </li>
          <li>
            <a href="/V2/design/styles.html">Styles</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Components
        </h1>


      
        <div class="govuk-grid-column-full" style="padding-left:0px;margin-bottom: 95px;">
            <a class="filter active" href="/design/components/">All</a>
            <a class="filter inactive" href="/design/components/filter-experimental.html">Experimental</a>
            <a class="filter inactive" href="/design/components/filter-gds.html">GDS</a>
            <a class="filter inactive" href="/design/components/filter-forms.html">Forms</a>
            <a class="filter inactive" href="/design/components/filter-buttons.html">Buttons</a>
            <a class="filter inactive" href="/design/components/filter-visualaids.html">Visual aids</a>
    
        </div>
    
      
      
      
        <h2 class="govuk-heading-l">Experimental</h2>
        <p style="margin-bottom: 40px;">Components developed by us to specifically meet HMLR user needs that aren’t currently being met by the Government Design Service (GDS).</p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="/design/components/experimental/enhanced-dropdown.html">
                    <div style="margin-bottom: 25px; max-height: 250px;overflow-y: hidden;"><img src="/public/images/enhanced_dropdown.gif"></div>
                    Enhanced dropdown
                </a>
            </div>

            <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="/design/components/experimental/print-summary.html">
                    <div class="temporaryBox"></div>
                    Print summary
                </a>
            </div>

            <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="/design/components/experimental/radio-questions.html">
                    <div class="temporaryBox"></div>
                    Radio questions
                </a>
            </div>
      
        </div>
    
      
        <h2 class="govuk-heading-l">GDS</h2>
        <p style="margin-bottom: 40px;">These are components that exist within GDS. Clicking on one of the components will link you directly to the component on the GDS website.</p>
    
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/accordion/"  target="_blank">Accordion</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/back-link/"  target="_blank">Back link</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/breadcrumbs/"  target="_blank">Breadcrumbs</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/button/"  target="_blank">Button</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/character-count/"  target="_blank">Character count</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/checkboxes/"  target="_blank">Checkboxes</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/cookie-banner/"  target="_blank">Cookie banner</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/date-input/"  target="_blank">Date input</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/details/"  target="_blank">Details</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/error-message/"  target="_blank">Error message</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/error-summary/"  target="_blank">Error summary</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/fieldset/"  target="_blank">Fieldset</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/file-upload/"  target="_blank">File upload</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/footer/"  target="_blank">Footer</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/header/"  target="_blank">Header</a>
                </div>
          
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/inset-text/"  target="_blank">Inset text</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/notification-banner/"  target="_blank">Notification banner</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/panel/"  target="_blank">Panel</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/phase-banner/"  target="_blank">Phase banner</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/radios/"  target="_blank">Radios</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/select/"  target="_blank">Select</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/skip-link/"  target="_blank">Skip link</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/summary-list/"  target="_blank">Summary list</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/table/"  target="_blank">Table</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/tabs/"  target="_blank">Tabs</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/tag/"  target="_blank">Tag</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/text-input/"  target="_blank">Text input</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/textarea/"  target="_blank">Text area</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/warning-text/"  target="_blank">Warning text</a>
                </div>
      
            </div>
      
        </div>
      
      
      
      
        




        </div>
    </div>
  </div>





  </div>

</div>

{% endblock %}


