
{% extends "layout_designsystem.html" %}



{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<style>
  .govuk-width-container {
    max-width: 1200px;
}

</style>


  <div class="govuk-grid-row govuk-body">

    <div class="govuk-grid-column-full page-title">
      <h1>
        Enhanced dropdown
      </h1>
      <p class="page-subtitle">
        This component has been designed to allow users to easily search dropdown menus containing long lists of data without having to scroll. 
      </p>
    </div>

    <div class="govuk-grid-column-full">
      

        <ul id="horizontal-list">
          <li>
            <a class="" href="/design/components/experimental/enhanced-dropdown/">
              Overview
            </a>
          </li>
          <li>
            <a class="" href="/design/components/experimental/enhanced-dropdown/accessibility.html">
              Accessibility
            </a>
          </li>
          <li>
            <a class="current" href="/design/components/experimental/enhanced-dropdown/status.html">
              Status
            </a>
          </li>
          <li>
            <a class="" href="/design/components/experimental/enhanced-dropdown/documentation.html">
              Documentation
            </a>
          </li>
        </ul>

      </div>


      <div class="govuk-grid-column-full">



        <div style="max-width: 768px;margin:auto; background-color: #DDFEEF;padding: 25px;margin-bottom: 25px;">
           <div class="iconStatus">
            <img src="/public/images/icon_Design.png">
           </div>
          <h3 class="govuk-heading-m statusTitle">
              Design <span style="font-weight: 400;">- Approved (29/07/21)</span>
            </h3>
            <p style="margin-bottom: 0px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>

        </div>

        <div style="max-width: 768px;margin:auto; background-color: #FFF6E5;padding: 25px;margin-bottom: 25px;">
          <div class="iconStatus">
            <img src="/public/images/icon_UR.png">
           </div>
          <h3 class="govuk-heading-m statusTitle">
            User research <span style="font-weight: 400;">- Requires further testing</span>
          </h3>
          <p style="margin-bottom: 0px;">Quam nisi in lectus eu malesuada est molestie praesent enim.</p>
        </div>

        <div style="max-width: 768px;margin:auto; background-color: #DDFEEF;padding: 25px;margin-bottom: 25px;">
          <div class="iconStatus">
            <img src="/public/images/icon_Devs.png">
           </div>
          <h3 class="govuk-heading-m statusTitle">
            Developers <span style="font-weight: 400;">- Approved (14/08/21)</span>
          </h3>
          <p style="margin-bottom: 0px;">Quam nisi in lectus eu malesuada est molestie praesent enim.</p>
        </div>

        <div style="max-width: 768px;margin:auto; background-color: #FFEAE5;padding: 25px;margin-bottom: 25px;">
          <div class="iconStatus">
            <img src="/public/images/icon_CorpCom.png">
           </div>
          <h3 class="govuk-heading-m statusTitle">
            Corporate comms <span style="font-weight: 400;">- Requires approval</span>
          </h3>
          <p style="margin-bottom: 0px;">Quam nisi in lectus eu malesuada est molestie praesent enim.</p>
        </div>

        <div style="max-width: 768px;margin:auto; background-color: #FFEAE5;padding: 25px;margin-bottom: 25px;">
          <div class="iconStatus">
            <img src="/public/images/icon_GDS.png">
           </div>
          <h3 class="govuk-heading-m statusTitle">
            GDS submission <span style="font-weight: 400;">- Not ready</span>
          </h3>
          <p style="margin-bottom: 0px;">Quam nisi in lectus eu malesuada est molestie praesent enim.</p>
        </div>









      </div>















  </div>

{% endblock %}

{% block footer %}
{% include "includes/backToTop.html" %}
{% include "includes/componentsList.html" %}
{% endblock %}