
{% extends "layout_designsystem_V2.html" %}



{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<style>
  .govuk-width-container {
    max-width: 1200px;
}

.hods-timeline {
    overflow: hidden;
    position: relative;
}

.hods-timeline__title {
margin-bottom:5px;
}


.hods-timeline__item {
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.hods-timeline__item:before {
    background-color: #006637;
    content: "";
    padding-top: .3em;
    padding-right: 30px;
    left: 0;
    position: absolute;
    margin-top: .75em;
    z-index: 1;
}

.hods-timeline:before {
    background-color: #006637;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    margin-top: 2em;
    padding-left: .3em;
    z-index: 1;
}

.hods-timeline__title {
    font-family: inherit;
    display: block;
}

.hods-timeline__by, .hods-timeline__date {
    font-family: inherit;
    font-size: 16px;
    display: inline;
}

.hods-timeline__by {
  color: #006637;
  font-weight: 600;
}

.hods-timeline__description {
  padding-top:10px;
}

.govuk-list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
}

.govuk-list {
    margin-bottom: 20px;
}

.govuk-list>li {
    margin-bottom: 5px;
}

.app-page-contents__list li {
    margin-left: 0;
    padding-right: 15px;
}

.app-page-contents__list li:before {
    content: "– ";
    display: inline-block;
    padding-right: 5px;
}

.govuk-grid-column-one-third {
    padding: 0 15px 50px 15px;
}

.active-sub-side-menu {
    margin: 0px 0px 6px 0px !important;
    padding-left: 16px;
    border-left: 4px solid #006637;
}

.govuk-grid-column-full {
    margin-bottom: 50px;
}

</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <!-- <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Accessible auto-complete</a>
          </li>
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Alternate accordion</a>
          </li> -->
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/accordion-plus/">Table inside accordion</a>
          </li>

            <li class="active-sub-side-menu">
              <a  class="current-main" style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/">Searchable dropdown</a>
            
<!-- <ul>

                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/">Overview</a>
                  </li>
                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px; color: #006637;font-weight:600;" href="/design/components/experimental/enhanced-dropdown/status.html">Status</a>
                  </li>
                  <li class="sub-sub-side-menu">
                    <a style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/documentation.html">Documentation</a>
                  </li>
                </ul> -->
              </li>
              <!-- <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Interactive banner</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">On-page colour toggle</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Print summary</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Radio questions</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Search with icon</a>
              </li> -->
              
              <li>
                <a href="/design/fontstypography/">Fonts & typography</a>
              </li>
              <li>
                <a href="/design/icons/">Icons</a>
              </li>
              <!-- <li>
                <a href="/design/images/">Images</a>
              </li> -->
              <li>
                <a href="/design/layouts/">Layouts</a>
              </li>
              <li>
                <a href="/design/patterns/">Patterns</a>
              </li>

        </ul>
      </div>
      


    </div>

    <div class="right-content">


      <div class="">
        <div class="govuk-grid-column-full" style="margin-bottom:15px;">
        <span class="govuk-caption-xl">HM Land Registry component</span>
        <h1 class="govuk-heading-xl">
        Searchable dropdown
        </h1>
      </div>

          <div class="govuk-grid-column-one-third" style="">
            <h3 class="govuk-heading-m" style="margin-bottom:10px;">Contents:</h3>
            <ul class="govuk-list app-page-contents__list">
              <li><a href="index.html">Overview</a></li>
              <li><a href="index.html#what">What is this component</a></li>
              <li><a href="index.html#example">Example</a></li>
              <li><a href="index.html#why">Why was this needed</a></li>
              <li><a href="index.html#when">When to use</a></li>
              <li><a href="index.html#how">How to use</a></li>
            </ul>
          </div>
    
          <div class="govuk-grid-column-one-third" style="">
            <h3 class="govuk-heading-m" style="margin-bottom:10px;">Related pages:</h3>
            <ul class="govuk-list app-page-contents__list">
              <li><a href="status.html">Status</a></li>
              <li><a href="documentation.html">Documentation</a></li>
            </ul>
          </div>
          <div class="govuk-grid-column-full">
          <!-- <p class="page-subtitle">
            The timeline below shows the extent to which this experimental component has been tested, validated and approved.
          </p> -->

          <h2 id="example" class="govuk-heading-l">Status</h2>
    
    
            <div class="hods-timeline">
    
              <!-- <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Alpha deployment
                </h2>
                <p class="hods-timeline__by">Developers</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-25">
                    25/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  The experimental component is deployed to an alpha build of View colleague’s applications.
                </p>
              </div>
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Nunjucks conversion
                </h2>
                <p class="hods-timeline__by">Developers</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-23">
                    23/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  The development team convert the experimental component to production ready code.
                </p>
              </div>
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Component review
                </h2>
                <p class="hods-timeline__by">Developers</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-22">
                    22/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  A member of the developer team reviews the prototype code for the experimental component.
                </p>
              </div> -->
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Component iteration
                </h2>
                <p class="hods-timeline__by">Design</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-21">
                    21/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  The design team iterated on the component to display groups/teams as well as all colleagues.
                </p>
              </div>
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Usability testing
                </h2>
                <p class="hods-timeline__by">User research</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-19">
                    19/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  The user research team tested the experimental component along with a standard dropdown menu. There was a strong consensus that the new experimental component greatly enhanced the user experience.
                </p>
              </div>
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  Component creation
                </h2>
                <p class="hods-timeline__by">Design</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-15">
                    15/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  Created an dropdown that allows users to search directly from within it, using an open source javascript resource.
                </p>
              </div>
    
              <div class="hods-timeline__item">
                <h2 class="hods-timeline__title">
                  User need identified
                </h2>
                <p class="hods-timeline__by">User research</p>
                <p class="hods-timeline__date">
                  <time datetime="2021-05-14">
                    14/05/2021
                  </time>
                </p>
                <p class="hods-timeline__description">
                  User need identified during user research session for ‘view colleagues applications’. Users need to be able to select an individual easily from a list of over 200 colleagues.
                </p>
              </div>
    
            </div>
    
      </div>
  
      
      

      <!-- <div class="govuk-grid-column-full" style="margin-top:50px; margin-bottom: 50px;">
    
        <h2 class="govuk-heading-l">
          Additional information
        </h2>

        <div>

          <div class="contentButtonBox Wide">
            <a href="index.html">
              <p class="link">Overview</p>
              <p class="description">Learn when, what, how and why to use the component.</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="documentation.html">
              <p class="link">Documentation</p>
              <p class="description">Contains information on the component's owners.</p>
            </a>
          </div>

        </div>

    </div> -->
      
      
      
      {% include "includes/helpimprove.html" %}  




    </div>

    </div>
  </div>





</div>


{% endblock %}

