
{% extends "layout_designsystem.html" %}



{% block pageTitle %}
  Getting started
{% endblock %}

{% block content %}

<style>
  .govuk-width-container {
    max-width: 1200px;
}

.js-enabled .govuk-tabs__tab:link, .js-enabled .govuk-tabs__tab:visited {
    font-weight:700;
    font-size: 20px;
    text-transform: uppercase;
}

.js-enabled .govuk-tabs__list-item {
    background-color: #ffffff;
}

.js-enabled .govuk-tabs__list-item--selected {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 0;
    border: 0px solid #b1b4b6;
    background-color: #ffffff;
}

.js-enabled .govuk-tabs__list-item {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 0;
    float: left;
    text-align: center;
}

.js-enabled .govuk-tabs__list {
    border-bottom: 0px solid #b1b4b6;
}

.js-enabled .govuk-tabs__panel {
    border: 0px solid #b1b4b6;
}

ul#horizontal-list {
    margin: auto;
    max-width: fit-content;
    border-top: 2px solid #f3f2f1;
    border-bottom: 2px solid #f3f2f1;
}

ul#horizontal-list li {
    display: inline;
}



</style>


  <div class="govuk-grid-row govuk-body">

    <div class="govuk-grid-column-full page-title">
      <h1>
        Enhanced dropdown
      </h1>
      <p class="page-subtitle">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
      </p>
    </div>

    <div class="govuk-grid-column-full">
       
      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list" id="horizontal-list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              Overview
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Accessibility
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Status
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-year">
              Documentation
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="past-day">
          <h2 class="govuk-heading-l">Overview</h2>


        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <h2 class="govuk-heading-l">Accessibility</h2>

      
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Status</h2>

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
          <h2 class="govuk-heading-l">Documentation</h2>
      

        </div>
      </div>

      </div>

  </div>

{% endblock %}

<style>
  .govuk-width-container{
    max-width: 1100px;
}
</style>

