
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <!-- <p class="sideMenuTitle">Design</p> -->
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li class="active-side-menu-expanded">
            <a class="current-main" href="/design/components/">Components</a>
          

        <ul>
          <!-- <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Accessible auto-complete</a>
          </li>
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Alternate accordion</a>
          </li> -->
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/accordion-plus/">Accordion plus</a>
          </li>
            <li class="sub-side-menu">
              <a style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/">Dropdown with search</a>
              </li>
              <!-- <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Interactive banner</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">On-page colour toggle</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Print summary</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Radio questions</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Search with icon</a>
              </li> -->

            </ul>
          </li>
          
            <li>
              <a href="/design/fontstypography/">Fonts & typography</a>
            </li>
            <li>
              <a href="/design/icons/">Icons</a>
            </li>
            <!-- <li>
              <a href="/design/images/">Images</a>
            </li> -->
            <li>
              <a href="/design/layouts/">Layouts</a>
            </li>
            <li>
              <a href="/design/patterns/">Patterns</a>
            </li>
            <!-- <li>
              <a href="/design/spacing/">Spacing</a>
            </li> -->

        </ul>
      </div>

      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Components
        </h1>

        <h3 class="govuk-heading-m" style="letter-spacing: 0.1px;">Component filters</h3>
      
        <div class="govuk-grid-column-full" style="padding-left:0px;margin-bottom: 95px;">
            <a class="filter active" href="/design/components/">All</a>
            <a class="filter inactive" href="/design/components/filter-experimental.html">Experimental</a>
            <a class="filter inactive" href="/design/components/filter-gds.html">GDS</a>
            <a class="filter inactive" href="/design/components/filter-forms.html">Forms</a>
            <a class="filter inactive" href="/design/components/filter-buttons.html">Buttons</a>
            <a class="filter inactive" href="/design/components/filter-visualaids.html">Visual aids</a>
    
        </div>
    
      
      
      
        <h2 class="govuk-heading-l">Experimental</h2>
        <p style="margin-bottom: 40px;">Components developed by us to specifically meet HMLR user needs that aren’t currently being met by the Government Design Service (GDS).</p>

        <div class="govuk-grid-row"  style="margin-bottom: 30px;">

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href="/design/components/experimental/accordion-plus/">
              <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/accordion_table.gif"></div>
                Accordion plus
            </a>
        </div>


            <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="/design/components/experimental/enhanced-dropdown/">
                  <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/enhanceddropdown.gif"></div>
                    Dropdown with search
                </a>
            </div>

      
        </div>
    
      
        <h2 class="govuk-heading-l">GDS</h2>
        <p style="margin-bottom: 40px;">These are components that exist within GDS. Clicking on one of the components will link you directly to the component on the GDS website.</p>
    
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/accordion/" target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/accordion.gif"></div>
                    Accordion</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/back-link/"  target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/back.jpg"></div>
                    Back link</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/breadcrumbs/"  target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/breadcrumbs.jpg"></div>
                    Breadcrumbs</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/button/"  target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/button.jpg"></div>
                    Button</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/character-count/"  target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/charactercount.gif"></div>
                    Character count</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/checkboxes/"  target="_blank">
                    <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/checkboxes.gif"></div>
                    Checkboxes</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/cookie-banner/"  target="_blank">
                      <div class="visualInventoryImage" style="box-sizing: border-box;padding-top: 60px;"><img width="100%" src="/public/images/cookie-banner.png"></div>
                      Cookie banner</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/date-input/"  target="_blank">
                      <div class="visualInventoryImage" style="box-sizing: border-box; padding-top: 70px;"><img width="100%" src="/public/images/date-input.png"></div>
                      Date input</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/details/"  target="_blank"> <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/details.gif"></div>
                      Details</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/error-message/"  target="_blank">
                      <div class="visualInventoryImage" style="box-sizing: border-box; padding-top: 65px;"><img width="100%" src="/public/images/error-message.png"></div>
                      Error message</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                    <!-- <div class="temporaryBox"></div>
                    <a class="componentLink" href="https://design-system.service.gov.uk/components/error-summary/"  target="_blank">Error summary</a> -->

                    <a class="componentLink" href="https://design-system.service.gov.uk/components/error-summary/"  target="_blank">
                      <div class="visualInventoryImage" style="box-sizing: border-box; padding-top: 80px;"><img width="100%" src="/public/images/error-summary.png"></div>
                      Error summary</a>
                </div>
    
                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/fieldset/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" src="/public/images/fieldset.png"></div>
                    Fieldset</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/file-upload/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:67px;" src="/public/images/file_upload.PNG"></div>
                    File upload</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/footer/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:67px;" src="/public/images/footer.PNG"></div>
                    Footer</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/header/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:92px;" src="/public/images/header.PNG"></div>
                    Header</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/inset-text/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:63px;" src="/public/images/inset.PNG"></div>
                    Inset text</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/notification-banner/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:44px;" src="/public/images/notification_banner.PNG"></div>
                    Notification banner</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/panel/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:32px;" src="/public/images/panel.PNG"></div>
                    Panel</a>
                </div>
   

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href=https://design-system.service.gov.uk/components/phase-banner/"  target="_blank">
                    <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:32px;" src="/public/images/phase_banner3.PNG"></div>
                    Phase banner</a>
                </div>

                <div class="govuk-grid-column-one-third">
                  <a class="componentLink" href="https://design-system.service.gov.uk/components/radios/"  target="_blank"> <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/radios.gif"></div>
                    Radios</a>
              </div>
    
              <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="https://design-system.service.gov.uk/components/select/"  target="_blank"> <div class="visualInventoryImage"><img width="100%" src="/public/images/componentGIF/select.gif"></div>
                  Select</a>
            </div>
    
            <div class="govuk-grid-column-one-third">
              <a class="componentLink" href=https://design-system.service.gov.uk/components/skip-link/"  target="_blank">
                <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:78px;" src="/public/images/skip_link.PNG"></div>
                Skip link</a>
            </div>
            
            <div class="govuk-grid-column-one-third">
              <a class="componentLink" href=https://design-system.service.gov.uk/components/summary-list/"  target="_blank">
                <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:68px;" src="/public/images/summary_list.PNG"></div>
                Summary list</a>
            </div>

            <div class="govuk-grid-column-one-third">
              <a class="componentLink" href=https://design-system.service.gov.uk/components/table/"  target="_blank">
                <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:58px;" src="/public/images/table.PNG"></div>
                Table</a>
            </div>

            <div class="govuk-grid-column-one-third">
              <a class="componentLink" href="https://design-system.service.gov.uk/components/tabs/"  target="_blank"> 
                <div class="visualInventoryImage" style="height:232px;"><img width="234" style="padding-top:50px;" src="/public/images/componentGIF/tabs.gif"></div>
                Tabs</a>
          </div>

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href=https://design-system.service.gov.uk/components/tag/"  target="_blank">
              <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:70px;" src="/public/images/tag.PNG"></div>
              Tag</a>
          </div>

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href=https://design-system.service.gov.uk/components/text-input/"  target="_blank">
              <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:70px;" src="/public/images/text_input.PNG"></div>
              Text input</a>
          </div>

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href=https://design-system.service.gov.uk/components/textarea/"  target="_blank">
              <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:70px;" src="/public/images/text_area.PNG"></div>
              Text area</a>
          </div>

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href=https://design-system.service.gov.uk/components/warning-text/"  target="_blank">
              <div class="visualInventoryImage" style="box-sizing: border-box;"><img width="100%" style="padding-top:70px;" src="/public/images/warning_text.PNG"></div>
              Warning text</a>
          </div>


          </div>
    
      

      
        </div>
      
      
      
      
        

        {% include "includes/feedback.html" %}  



        </div>


    </div>





  </div>

</div>

{% endblock %}


