
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <!-- <p class="sideMenuTitle">Design</p> -->
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li class="active-side-menu-expanded">
            <a class="current-main" href="/design/components/">Components</a>
          

        <ul>
          <!-- <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Accessible auto-complete</a>
          </li>
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Alternate accordion</a>
          </li> -->
          <li class="sub-side-menu">
            <a  style="font-size: 16px;" href="/design/components/experimental/accordion-plus/">Table inside accordion</a>
          </li>
            <li class="sub-side-menu">
              <a style="font-size: 16px;" href="/design/components/experimental/enhanced-dropdown/">Searchable dropdown</a>
              </li>
              <!-- <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Interactive banner</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">On-page colour toggle</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/print-summary/">Print summary</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Radio questions</a>
              </li>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/components/experimental/radio-questions/">Search with icon</a>
              </li> -->

            </ul>
          </li>
          
            <li>
              <a href="/design/fontstypography/">Fonts & typography</a>
            </li>
            <li>
              <a href="/design/icons/">Icons</a>
            </li>
            <!-- <li>
              <a href="/design/images/">Images</a>
            </li> -->
            <li>
              <a href="/design/layouts/">Layouts</a>
            </li>
            <li>
              <a href="/design/patterns/">Patterns</a>
            </li>
            <!-- <li>
              <a href="/design/spacing/">Spacing</a>
            </li> -->

        </ul>
      </div>

      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Components
        </h1>
        <p style="margin-bottom: 40px;">These are <b>experimental components</b> that have been designed specifically to meet the needs of HM Land Registry users and are not yet in the GOV.UK Design System.

        </p>

        <div class="govuk-grid-row"  style="margin-bottom: 30px;">

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href="/design/components/experimental/accordion-plus/">
              <div class="visualInventoryImage"><img width="100%" style="margin-top: -20px;" src="/public/images/table-inside-accordian.gif"></div>
                Table inside accordion
            </a>
          </div>


            <div class="govuk-grid-column-one-third">
                <a class="componentLink" href="/design/components/experimental/enhanced-dropdown/">
                  <div class="visualInventoryImage"><img width="100%" style="margin-top: -22px;" src="/public/images/dropdown-search-giph.gif"></div>
                    Searchable dropdown
                </a>
            </div>

      
        </div>
    

        <!-- <div class="govuk-grid-row"  style="margin-bottom: 30px;margin-left: 0;">
        <h2 class="govuk-heading-l">GOV.UK Design System (GDS)</h2>
        <p style="margin-bottom: 40px;">These are components that exist within GDS. Clicking on one of the components will link you directly to the component page on the GDS website.</p>
            
          <div class="govuk-grid-column-one-third" style="padding: 0px;">
              <ul class="componentsListLinks">
                  <li>
                      <a href="https://design-system.service.gov.uk/components/accordion/" target="_blank">Accordion</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/back-link/" target="_blank">Back link</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/breadcrumbs/" target="_blank">Breadcrumbs</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/button/" target="_blank">Button</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/character-count/" target="_blank">Character count</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/checkboxes/" target="_blank">Checkboxes</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/cookie-banner/" target="_blank">Cookie banner</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/date-input/" target="_blank">Date input</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/details/" target="_blank">Details</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/Error-message/" target="_blank">Error message</a>
                  </li>
              </ul>
          </div>

          <div class="govuk-grid-column-one-third" style="padding: 0px;">
              <ul class="componentsListLinks">
                  <li>
                      <a href="https://design-system.service.gov.uk/components/error-summary/" target="_blank">Error summary</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/fieldset/" target="_blank">Fieldset</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/file-upload/" target="_blank">File upload</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/footer/" target="_blank">Footer</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/header/" target="_blank">Header</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/inset-text/" target="_blank">Inset text</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/notification-banner/" target="_blank">Notification banner</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/panel/" target="_blank">Panel</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/phase-banner/" target="_blank">Phase banner</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/radios/" target="_blank">Radios</a>
                  </li>
              </ul>
          </div>

          <div class="govuk-grid-column-one-third" style="padding: 0px;">
              <ul class="componentsListLinks">
                  <li>
                      <a href="https://design-system.service.gov.uk/components/select/" target="_blank">Select</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/skip-link/" target="_blank">Skip link</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/summary-list/" target="_blank">Summary list</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/table/" target="_blank">Table</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/tabs/" target="_blank">Tabs</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/tag/" target="_blank">Tag</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/text-input/" target="_blank">Text input</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/text-area/" target="_blank">Textarea</a>
                  </li>
                  <li>
                      <a href="https://design-system.service.gov.uk/components/warning-text/" target="_blank">Warning text</a>
                  </li>
              </ul>
          </div>
        </div> -->

      
        </div>
      
      
      
      
        

        {% include "includes/helpimprove.html" %}  



        </div>


    </div>





  </div>

</div>

{% endblock %}


