
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">

      <div class="sideMenuSection">
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <!-- <li>
            <a href="/design/images/">Images</a>
          </li> -->
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li class="active-side-menu-expanded">
            <a class="current-main" href="/design/patterns/">Patterns</a>
            <ul>
              <li class="sub-side-menu">
                <a  style="font-size: 16px;" href="/design/patterns/review-edit-answers/">Inline  edit answers</a>
              </li>
            </ul>
      </div>


      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Patterns
        </h1>
  
        <p style="margin-bottom: 40px;">These are patterns designed specifically for the needs of HMLR users and patterns that are not yet in the GOV.UK Design System.
        </p>

        <!-- <p>Check the <a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a> to see if the component or pattern you need is already being used across government.
        </p>

        <p>If you cannot find what you need in the GOV.UK Design System or HMLR Design Patterns you can:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://design-system.service.gov.uk/community/backlog/" class="govuk-link" >see if it is being worked on by other teams across government and add your findings</a></li>
          <li><a href="/getinvolved/backlog" class="govuk-link" >see if it is being worked on by HMLR and add your findings</a></li>
          <li><a href="/getinvolved/newideas" class="govuk-link" >propose a new pattern</a></li>
        </ul> -->

      
        <div class="govuk-grid-row"  style="margin-bottom: 30px;">

          <div class="govuk-grid-column-one-third">
            <a class="componentLink" href="/design/patterns/review-edit-answers/">
              <div class="visualInventoryImage"><img width="100%" style="margin-top: 35px;" src="/public/images/inline-edit-answers.gif"></div>
                Inline edit answers
            </a>
          </div>
        </div>
    </div>

{% endblock %}
