
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/design/">Design system</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/design/patterns/">Patterns</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles/">Design principles</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing">Developing</a>
          </li>
        </ul>
      </div>
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons.html">Icons</a>
          </li>
          <li>
            <a href="/design/images.html">Images</a>
          </li>
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a class="current-main" href="/design/patterns/">Patterns</a>
          </li>
            <li class="current-borderLeft" style="margin-left: 20px; padding-left: 14px; margin-bottom: 0px;">
                <a class="current-main" style="font-size: 15px;" href="/design/patterns/maps/">Maps</a>
            </li>

            <li style="margin-left: 38px; margin-bottom: 0px;">
              <a style="font-size: 14px;color: #008548;" href="/design/patterns/maps/">Overview</a>
            </li>
            <li style="margin-left: 38px; margin-bottom: 0px;">
              <a style="font-size: 14px;" href="/design/patterns/maps/status.html">Status</a>
            </li>
            <li style="margin-left: 38px; margin-bottom: 12px;">
              <a style="font-size: 14px;" href="https://www.notion.so/" target="_blank">Documentation</a>
            </li>
              
            <li style="margin-left: 20px; margin-bottom: 12px;">
                <a  style="font-size: 15px;" href="/design/patterns/document-dashboard/">Document dashboard</a>
            </li>
          <li>
            <a href="/design/styles/">Styles</a>
          </li>
        </ul>
      </div>


    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Experimental pattern</span>
        <h1 class="govuk-heading-xl">
        Maps
        </h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


        <h2 class="govuk-heading-l">
            When to use this pattern
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</li>
        <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>

        </ul>
        <h2 class="govuk-heading-l">
            When to not use this pattern
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</li>
        <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</li>

        </ul>

        <h2 class="govuk-heading-l">
            Help improve this page
        </h2>
        <p>To help make sure that this page is useful, relevant and up to date, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>
            <a class="govuk-link" href="#">
            share your research with the design system team
            </a>
        </li>
        <li>
            <a class="govuk-link app-contact-panel__link" href="https://github.com/alphagov/govuk-design-system/edit/main/src/components/footer/index.md.njk">propose a change</a>
        </li>
        </ul>
        
      </div>
    </div>

{% endblock %}
