
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-width-container {
    max-width: 1200px;
}

.hods-timeline {
    overflow: hidden;
    position: relative;
}

.hods-timeline__title {
margin-bottom:5px;
}


.hods-timeline__item {
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.hods-timeline__item:before {
    background-color: #008548;
    content: "";
    padding-top: .3em;
    padding-right: 30px;
    left: 0;
    position: absolute;
    margin-top: .75em;
    z-index: 1;
}

.hods-timeline:before {
    background-color: #008548;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    margin-top: 2em;
    padding-left: .3em;
    z-index: 1;
}

.hods-timeline__title {
    font-family: inherit;
    display: block;
}

.hods-timeline__by, .hods-timeline__date {
    font-family: inherit;
    font-size: 16px;
    display: inline;
}

.hods-timeline__by {
  color: #008548;
  font-weight: 600;
}

.hods-timeline__description {
  padding-top:10px;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/design/">Design system</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/design/patterns/">Patterns</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles/">Design principles</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons.html">Icons</a>
          </li>
          <li>
            <a href="/design/images.html">Images</a>
          </li>
          <li>
            <a href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a style="color: #4C6272; font-weight: 900;" href="/design/patterns/">Patterns</a>
          </li>
          <li class="current-borderLeft" style="margin-left: 20px; padding-left: 14px; margin-bottom: 0px;">
            <a  class="current-main" style="font-size: 15px;" href="/design/patterns/maps/">Maps</a>
        </li>
            <li style="margin-left: 38px; margin-bottom: 0px;">
                <a style="font-size: 14px;" href="/design/patterns/maps/">Overview</a>
            </li>
            <li style="margin-left: 38px; margin-bottom: 0px;">
                <a style="font-size: 14px; color: #008548;" href="/design/patterns/maps/status.html">Status</a>
            </li>
            <li style="margin-left: 38px; margin-bottom: 12px;">
                <a style="font-size: 14px;" href="https://www.notion.so/" target="_blank">Documentation</a>
            </li>
        <li style="margin-left: 20px; margin-bottom: 12px;">
            <a  style="font-size: 15px;" href="/design/patterns/document-dashboard/">Document dashboard</a>
        </li>
          <li>
            <a href="/design/styles/">Styles</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing">Developing</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="right-content">


      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Experimental pattern</span>
        <h1 class="govuk-heading-xl">
          Maps
        </h1>
        <p class="page-subtitle">
          This component has been designed to allow users to easily search dropdown menus containing long lists of data without having to scroll. 
        </p>
  
  
  
  
          <div class="hods-timeline">
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Alpha deployment
              </h2>
              <p class="hods-timeline__by">Developers</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-25">
                  25/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                The experimental component is deployed to an alpha build of View colleague’s applications.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Nunjucks conversion
              </h2>
              <p class="hods-timeline__by">Developers</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-23">
                  23/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                The development team convert the experimental component to production ready code.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Pattern review
              </h2>
              <p class="hods-timeline__by">Developers</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-22">
                  22/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                A member of the developer team reviews the prototype code for the experimental pattern.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Component iteration
              </h2>
              <p class="hods-timeline__by">Design</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-21">
                  21/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                The design team iterated on the pattern to display groups/teams as well as all colleagues.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Usability testing
              </h2>
              <p class="hods-timeline__by">User research</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-19">
                  19/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                The user research team tested the experimental pattern. There was a strong consensus that the new experimental pattern greatly enhanced the user experience.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Pattern creation
              </h2>
              <p class="hods-timeline__by">Design</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-15">
                  15/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                Created an dropdown that allows users to search directly from within it, using an open source javascript resource.
              </p>
            </div>
  
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                User need identified
              </h2>
              <p class="hods-timeline__by">User research</p>
              <p class="hods-timeline__date">
                <time datetime="2021-05-14">
                  14/05/2021
                </time>
              </p>
              <p class="hods-timeline__description">
                User need identified during user research session for ‘view colleagues applications’. Users need to be able to select an individual easily from a list of over 200 colleagues.
              </p>
            </div>
  
          </div>
  
    </div>

    
    
    
    
    
      




  </div>

{% endblock %}
