
{% extends "layout_designsystem_V2DS.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <!-- <li>
            <a href="/design/images/">Images</a>
          </li> -->
          <li class="active-side-menu">
            <a class="current-main" href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <!-- <li>
            <a href="/design/spacing/">Spacing</a>
          </li> -->

        </ul>
      </div>


      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div> -->

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Design system</span>
        <h1 class="govuk-heading-xl">
        Layouts
        </h1>

        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->

      
          <h2 class="govuk-heading-l">Contribute to this page</h2>
          <p>Layouts are currently being considered by the Experience Library Team.</p> 
          <p>If you have any queries around content, please message the <a class="govuk-link" href="https://landregistry.slack.com/archives/CB8F79R0E">#design-content</a> slack channel or email Andy Carr.</p>
  
      </div>


      </div>
    </div>

</div>
</div>


{% endblock %}
