
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full" style="margin-bottom:25px;">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/design/">Design system</a>
          </li>

        </ol>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles/">Design principles</a>
          </li>
        </ul>
      </div>

      <div class="sideMenuSection">
        <p class="sideMenuTitle">Design</p>
        <ul>
          <li>
            <a href="/design/colour/">Colour</a>
          </li>
          <li>
            <a href="/design/components/">Components</a>
          </li>
          <li>
            <a href="/design/fontstypography/">Fonts & typography</a>
          </li>
          <li>
            <a href="/design/icons/">Icons</a>
          </li>
          <li>
            <a href="/design/images/">Images</a>
          </li>
          <li class="current-borderLeft">
            <a class="current-main" href="/design/layouts/">Layouts</a>
          </li>
          <li>
            <a href="/design/patterns/">Patterns</a>
          </li>
          <li>
            <a href="/design/spacing/">Spacing</a>
          </li>

        </ul>
      </div>


      <div class="sideMenuSection">
        <p class="sideMenuTitle">Setup</p>
        <ul>
          <li>
            <a href="/design/prototyping.html">Prototyping</a>
          </li>
          <li>
            <a href="/design/developing.html">Developing</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Layouts</span>
        <h1 class="govuk-heading-xl">
        Common layouts
        </h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

</div>
<div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Full width</h2>
        <div class="govuk-tabs" data-module="govuk-tabs" style="margin-top: 30px; margin-bottom:55px;">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                Examples
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                HTML
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month">
                Nunjucks
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="past-day">
            <div style="background: #008548; height: 100px;">
              <h3 style="margin:0px; padding: 20px 0px 0px 20px; color: white;">govuk-grid-column-full</h3>
            </div>
        
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
            <div tabindex="0" style="
        max-width: inherit;margin: 0;padding: 25px;border: 3px solid transparent; outline: 1px solid transparent;color: #0b0c0c;background-color: #f3f2f1;font-size: inherit;">
    
          <p> <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-grid-column-full"</span>&gt;</span>govuk-grid-column-full<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></p>


            </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
            <h2 class="govuk-heading-l">Coming soon</h2>
          </div>
    
        </div>
</div>

<div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">One half</h2>
        <div class="govuk-tabs" data-module="govuk-tabs" style="margin-top: 30px; margin-bottom:55px;">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day2">
                Examples
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week2">
                HTML
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month2">
                Nunjucks
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="past-day2">
            <div style="background: #008548; height: 100px; width:50%;">
              <h3 style="margin:0px; padding: 20px 0px 0px 20px; color: white;">govuk-grid-column-one-half</h3>
            </div>
        
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week2">
            <div tabindex="0" style="
        max-width: inherit;margin: 0;padding: 25px;border: 3px solid transparent; outline: 1px solid transparent;color: #0b0c0c;background-color: #f3f2f1;font-size: inherit;">
    
          <p> <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-grid-column-one-half"</span>&gt;</span>govuk-grid-column-one-half<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></p>


            </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month2">
            <h2 class="govuk-heading-l">Coming soon</h2>
          </div>
    
        </div>
</div>

<div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">One third</h2>
        <div class="govuk-tabs" data-module="govuk-tabs" style="margin-top: 30px; margin-bottom:55px;">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day3">
                Examples
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week3">
                HTML
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month3">
                Nunjucks
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="past-day3">
            <div style="background: #008548; height: 100px; width: 33%;">
              <h3 style="margin:0px; padding: 20px 0px 0px 20px; color: white;">govuk-grid-column-one-third</h3>
            </div>
        
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week3">
            <div tabindex="0" style="
        max-width: inherit;margin: 0;padding: 25px;border: 3px solid transparent; outline: 1px solid transparent;color: #0b0c0c;background-color: #f3f2f1;font-size: inherit;">
    
          <p> <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-grid-column-one-third"</span>&gt;</span>govuk-grid-column-one-third<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></p>


            </div>
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month3">
            <h2 class="govuk-heading-l">Coming soon</h2>
          </div>
    
        </div>
</div>

        {% include "includes/helpimprove.html" %}  

      </div>
    </div>

</div>

{% endblock %}
