
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <ul>
          <li>
            <a href="steering-group.html">HMLR Experience Library Team</a>
          </li>
          <li>
            <a href="backlog.html">Backlog</a>
          </li>
          <li>
            <a href="newideas.html">Suggest new ideas</a>
          </li>
          <li>
            <a href="contribution.html">Contribution criteria</a>
          </li>
          <li class="active-side-menu">
            <a class="current-main" href="notion.html">Notion</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Get involved</span>
        <h1 class="govuk-heading-xl">
        Notion
        </h1>
        
        <p>The Experience Library Team is currently in the process of obtaining licenses for <a class="govuk-link" style="color: #008548 !important;" href="https://www.notion.so/" target="_blank">Notion</a>. 
        </p>
        <p> 
          The purpose of Notion is:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>To encourage important research and findings to be shared across the community by facilitating greater transparency and communication between project teams. </li>
            <li>To store documentation around the user research and design decisions behind experimental components and patterns.</li>
            <li>To allow the whole community to be involved in the evolution and enhancement of the Experience Library.</li>
          </ul>
          <p>Until the Notion licenses are approved and distributed, teams are encouraged to gather documentation around experimental components and patterns in Google Docs. 
          </p>
        
    </div>



  </div>
    </div>





  </div>

</div>

{% endblock %}


