
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">


  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Get involved</p>
        <ul>
          <li>
            <a href="index.html">Steering group</a>
          </li>
          <li>
            <a href="backlog.html">Backlog</a>
          </li>
          <li>
            <a href="newideas.html">Suggest new ideas</a>
          </li>
          <li>
            <a href="contribution.html">Contribution criteria</a>
          </li>
          <li class="active-side-menu">
            <a class="current-main" href="notion.html">Notion</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Get involved</span>
        <h1 class="govuk-heading-xl">
        Notion
        </h1>
        
        <p>Coming soon to a big screen near you!</p>

        <p>The Experience library seen like never before - on IMAX!</p>

        
    </div>



  </div>
    </div>





  </div>

</div>

{% endblock %}


