/* This section focuses on font-overrides */
govuk-body, govuk-body-m, p, a, h1, h2, h3, h4, h5, h6, govuk-heading-xl, govuk-heading-l, govuk-heading-m, govuk-heading-s {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 100px;
    font-weight:700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
    color: #000000;
    text-align:center;
    margin-bottom: 20px;
    margin-top:0px;
}

.page-subtitle {
  font-size: 26px;
  line-height: 34px;
  font-weight:400;
  font-family: 'Roboto', sans-serif !important;
  color: #000000;
  text-align:center;
  margin-bottom: 0px;
  max-width: 960px;
  margin: auto;
}

.govuk-heading-l {
    margin-bottom: 15px;
}

.govuk-link:link, a:link, .app-step-nav-header__title:link, .app-step-nav-related__link:link {
    text-decoration: none;
}

/* This section focuses on the navigation menu */

.navbar {
    min-height: 155px;
}

.navbarlinks {
    overflow: hidden;
    background-color: #ffffff;
    float:right;
    padding: 50px 50px 50px 25px;
  }
  
  .navbarlinks a {
    float: left;
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:700;
    text-transform: uppercase;
    margin: 0 15px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px; 
    font-weight:700; 
    border: none;
    outline: none;
    color: white;
    padding: 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight:400;
    text-transform:unset;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding:15px 0px;
  }

.navbarlogo {
    float:left;
    padding: 30px 25px 68px 50px;
}

  .navbarlogo a {
    font-size: 48px;
    font-weight:600;
    color: #000000;
    text-decoration: none;
  }

  .logoIcons {
    max-width: 24px;
    padding-left: 4px; 
  }

  /* This section focuses on layouts */

.govuk-grid-column-full {
    margin-bottom:60px;
}

.page-title {
    margin-bottom:100px;
}

.govuk-body-m, .govuk-body, p {
    margin-bottom: 15px;
}

.componentTabs {
    max-width: 960px;
    margin:auto;
    float: unset;
}



  /* This section focuses on filters */

  .filter {
    padding: 5px 20px;
    margin: 0px 2px;
    font-size: 19px;
    border-radius: 50px;
    border: 2px solid #1D70B8;;
  }

  
  .filter.inactive {
    background-color: #ffffff;
    color: #1D70B8;
  }

  .filter.inactive:focus {
    outline: unset;
    color: unset;
    background-color: unset;
    box-shadow: unset;
  }

  .filter.inactive:hover {
    background-color: #1D70B8;
    color: #ffffff;
  }

  .filter.active {
    background-color: #1D70B8;
    color: #ffffff;
  }

  .filter.active:hover {
opacity: 0.7;
  }

  .filter.active:focus {
    outline: unset;
    color: unset;
    background-color: unset;
    box-shadow: unset;
  }


  /* This section focuses on the visual inventory components */

  .temporaryBox {
    background: #F5F4F5;
    width: 250px;
    height: 250px;
    display: block;
    margin-bottom: 10px;
  }

  .componentLink {
    font-weight: 700;
    color: #000000 !Important;
    font-size: 22px;
  }

  .govuk-grid-column-one-third {
    padding: 0 15px 60px 15px;
}

/* This focuses on the navigation menu for experimental component pages */


#horizontal-list li a {
    font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 0px 5px 0px;
      margin: 0px 20px;
  }
  
  #horizontal-list li a.current {
  border-bottom: 4px solid #1d70b8;
  }
  
  ul#horizontal-list {
      margin: auto;
      max-width: fit-content;
      border-top: 2px solid #f3f2f1;
      border-bottom: 2px solid #f3f2f1;
      padding-top: 20px;
      padding-bottom:20px;
      margin-bottom: 50px;
  }
  
  ul#horizontal-list li {
      display: inline;
  }


  .app-step-nav__circle--number {
    border: solid 1px black;
  }