
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  HMLR Design System 2021
{% endblock %}

{% block content %}

<div class="heroSection">
    <div class="contentSection">
        <h1>
          Design and build digital services for HM Land Registry
        </h1>
        <p>Mission statement: Use the service manual to build consistent, usable services that put people first.​ Learn from the research and experience of other HM Land Registry teams.</p>
  </div>
</div>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">


    <div class="govuk-grid-column-full">

      <div class="contentButtonBox">
        <a href="/gettingstarted/">
          <p class="link">Getting started</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/design/">
          <p class="link">Design system</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/content/">
          <p class="link">Content style guide</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/guidance/">
          <p class="link">Guidance</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/accessibility/">
          <p class="link">Accessibility</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/community/">
          <p class="link">Community</p>
          <p class="description">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit</p>
        </a>
      </div>

  </div>

  {% include "includes/feedback.html" %}  

  </div>

</div>

{% endblock %}


