
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  HMLR Design System 2021
{% endblock %}

{% block content %}

<div class="heroSection">
    <div class="contentSection">
        <h1>
          Design and build digital services for HM Land Registry
        </h1>
        <p>Use the service manual to build consistent, usable services that put people first.​ Learn from the research and experience of other HM Land Registry (HMLR) teams.</p>
  </div>
</div>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">


    <div class="govuk-grid-column-full">

      <div class="contentButtonBox">
        <a href="/gettingstarted/">
          <p class="link">Handbook</p>
          <p class="description">Advice, instructions and useful information for new joiners</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/design/">
          <p class="link">Design system</p>
          <p class="description">HMLR styles, components and patterns to use across services</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/content/">
          <p class="link">Content style guide</p>
          <p class="description">Advice on how to write for HMLR services</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/accessibility/">
          <p class="link">Accessibility</p>
          <p class="description">Best practice for building accessible HMLR services</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/getinvolved/">
          <p class="link">Get Involved</p>
          <p class="description">Help to improve and grow the Experience Library</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/support/">
          <p class="link">Support</p>
          <p class="description">Answering common questions about the Experience Library</p>
        </a>
      </div>

  </div>

  {% include "includes/feedback.html" %}  

  </div>

</div>

{% endblock %}


