
{% extends "layout_designsystem_V3.html" %}

{% block pageTitle %}
  HMLR Design System 2021
{% endblock %}

{% block content %}

<style>

  /* Phase banner hero image design */
  .whitePhaseBG {
    background-color: unset;;
  }

  .govuk-phase-banner {
    border-bottom: 1px solid #fff;
}

.govuk-phase-banner__content {
  color:#ffffff;
}

.govuk-tag {
  color: #006637;
  background-color: #ffffff;
}

.phaseBannerLink {
  color:#ffffff !important;
}

</style>

<div class="heroSection">
    <div class="contentSection">
        <h1>
          Design and build digital services for HM Land Registry
        </h1>
        <p>Use the Experience Library to build consistent, usable services that put people first.​ Learn from the research and experience of other HM Land Registry (HMLR) teams.</p>
  </div>
</div>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">


    <div class="govuk-grid-column-full">

      <div class="contentButtonBox">
        <a href="/getstarted/">
          <p class="link">Get started</p>
          <p class="description">Advice, instructions and useful information for new joiners</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/design/">
          <p class="link">Styles</p>
          <p class="description">Make your service look like others with these tested styles</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/content/">
          <p class="link">Components</p>
          <p class="description">Components are reusable elements of the user interface</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/accessibility/">
          <p class="link">Patterns</p>
          <p class="description">Patterns are tested and agreed solutions to common needs</p>
        </a>
      </div>

      <!-- <div class="contentButtonBox">
        <a href="/support/">
          <p class="link">Support</p>
          <p class="description">Answering common questions about the Experience Library</p>
        </a>
      </div> -->

      <div class="contentButtonBox">
        <a href="/community/">
          <p class="link">Content style guide</p>
          <p class="description">How to write for digital HM Land Registry services</p>
        </a>
      </div>

      <div class="contentButtonBox">
        <a href="/community/">
          <p class="link">Accessibility</p>
          <p class="description">Help to improve and grow the Experience Library</p>
        </a>
      </div>


  </div>

  {% include "includes/feedback.html" %}  

  </div>

</div>

{% endblock %}


