{% extends "layout.html" %}



{% block head %}
{% include "includes/head.html" %}

 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom_V2.css" media="all" rel="stylesheet" type="text/css" />
 <!-- <link href="/public/custom.css" media="all" rel="stylesheet" type="text/css"> -->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}

  <style>
    .govuk-footer__licence-description{
      padding-bottom: 20px;
      display:block;
    }
  </style>

{% endblock %}

{% block header %}

<div class="navbar">

    <div style="max-width: 1100px;margin: auto;height: 65px;">
      <div class="navbarLogo">
        <a href="/index.html"><img src="/public/images/HMLR_Logo.svg"> <span class="logoText">Experience Library</span></a>
      </div>

    <!-- <div class="searchBox">
      <p style="margin: 0px;line-height: 40px;color: #676767;"><img style="float: left;padding: 8px;" src="/public/images/icon_Search.svg"> Search design system</p>
    </div> -->



    </div>


    <div style="background: #F3F2F1;">
      <div class="navbarlinks">
          <a href="/getstarted/" style="border-bottom: 4px solid #006637;">Get started</a>
          <a href="/design/" style="border-bottom: 4px solid #F3F2F1;">Design system</a>
          <a href="/content/" style="border-bottom: 4px solid #F3F2F1;">Content design</a>
          <a href="/accessibility/" style="border-bottom: 4px solid #F3F2F1;">Accessibility</a>
          <!-- <a href="/support/">Support</a> -->
          <a href="/community/" style="border-bottom: 4px solid #F3F2F1;">Community</a>

      </div>
  </div>

  <div class="govuk-grid-column-full">
    <div class="" style="max-width:1100px; margin:auto;">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link phaseBannerLink" href="mailto:ExperienceLibrary@landregistry.gov.uk">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
    </div>
  </div>
   



</div>


{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container" style="max-width: 1100px; margin:auto;">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <!-- <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg> -->
        <span class="govuk-footer__licence-description" style="display:block;">
          Useful resources: <a class="govuk-footer__link" href="https://www.gov.uk/guidance/government-design-principles" style="padding-right: 10px;">Government Design Principles</a>|<a class="govuk-footer__link" style="padding: 0px 10px;" href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a>|<a class="govuk-footer__link" style="padding: 0px 10px;" href="https://design-system.service.gov.uk/">GOV.UK Design System</a>
        </span>
        <span class="govuk-footer__licence-description" style="display:block;">
          <a class="govuk-footer__link" href="#" style="padding-right: 10px;">Accessibility statement</a>|<a class="govuk-footer__link" style="padding-left: 10px;" href="#">Cookies</a>
        </span>
        <span class="govuk-footer__licence-description">
          Built by the <a class="govuk-footer__link" href="/community/steering-group" style="padding-right: 10px;">HMLR Experience Library Team</a>
        </span>
        
      </div>
      <div class="govuk-footer__meta-item">
        <!-- <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a> -->
      </div>
    </div>
  </div>
</footer>
{% endblock %}
