{% extends "layout.html" %}



{% block head %}
{% include "includes/head.html" %}

 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link href="/public/stylesheets/custom.css" media="all" rel="stylesheet" type="text/css" />
 <!-- <link href="/public/custom.css" media="all" rel="stylesheet" type="text/css"> -->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}

{% endblock %}

{% block header %}

<div class="navbar">

<div class="navbarlogo">
  <a href="/index.html">HMLR<span style="font-weight:100;">DS</span><img class="logoIcons" src="/public/images/hmlrds_logo_icons.jpg"></a>
</div>

<div class="navbarlinks">
  <a href="/index.html">Home</a>

  <a href="/gettingstarted/">Getting started</a>

  <div class="dropdown">
    <button class="dropbtn">
      <a href="/design/">Design <i class="fa fa-chevron-down"></i></a>
    </button>
    <div class="dropdown-content">
      <a href="/design/components/">Components</a>
      <a href="/design/content.html">Content</a>
      <a href="/design/fontstypography/">Fonts & Typography</a>
      <a href="/design/icons.html">Icons</a>
      <a href="/design/images.html">Images</a>
      <a href="/design/layouts.html">Layouts</a>
      <a href="/design/patterns.html">Patterns</a>
      <a href="/design/styles.html">Styles</a>
    </div>
  </div> 

  <a href="/guidance/">Guidance</a>

  <a href="/accessibility/">Accessibility</a>

  <a href="/community/">Community</a>

</div>

</div>

{% endblock %}


{% block footer %}

{% endblock %}
