
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #008548 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">
        <ul>
          <!-- <li class="active-side-menu">
            <a class="current-main" href="index.html">Support</a>
          </li> -->
          <li>
            <a href="using-gds.html">Using GDS</a>
          </li>
          <li>
            <a href="new-components.html">New components</a>
          </li>
          <!-- <li>
            <a href="using-notion.html">Using Notion</a>
          </li> -->
          <li>
            <a href="maintenance.html">Maintenance</a>
          </li>
        </ul>
      </div>



    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-xl">
          Support
         </h2>

        <p style="font-size:24px;margin-bottom:25px;">
          Find out more information about the purpose, use and maintenance of the HM Land Registry Experience Library.
        </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Why does HM Land Registry have their own Experience Library?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              
              <p class='govuk-body'>While the GOV.UK Design System should be a key point of reference for designers and developers at HM Land Registry, it is not specifically catered to providing components and patterns that help fulfil the needs of HMLR service users. Alongside the GOV.UK Design System, the HMLR Experience Library seeks to be a
                useful additional resource for the design and development communities at HMLR. 
              </p>
              <p class='govuk-body'>Having approved, ready-to-use components, patterns and styles available through the HMLR Experience Library will help to standardise design across all HMLR services to ensure a consistent look and feel.
              </p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Who is the HMLR Experience Library aimed at?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>By hosting a range of resources and information, the HMLR Experience Library seeks to be a useful resource for the design, development and user research communities.</p>
              <p class="govuk-body">For example:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Information about getting started at HMLR is available for new designers in the <a class="govuk-link" style="color: #008548 !important;" href="https://hmlr-experience-library.herokuapp.com/handbook/">Handbook</a>.</li>
                <li>Interaction designers, developers and user researchers can take a look at the experimental <a class="govuk-link" style="color: #008548 !important;" href="https://hmlr-experience-library.herokuapp.com/design/components/">components</a> and <a class="govuk-link" style="color: #008548 !important;" href="https://hmlr-experience-library.herokuapp.com/design/patterns/">patterns</a> that have been added.</li>
                <li>All designers can refer to the <a class="govuk-link" style="color: #008548 !important;" href="https://hmlr-experience-library.herokuapp.com/accessibility/">accessibility</a> section for guidance.</li>
              </ul>
            </div>
          </div>
          <!-- <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  When should I use the HMLR Design System?
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>This is the content for Writing well for the web.</p>
            </div>
          </div> -->
        </div>

    </div>
                  {% include "includes/helpimprove.html" %}  

  </div>
    </div>





  </div>

</div>

{% endblock %}


