
{% extends "layout_designsystem_V2.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<style>
  .govuk-accordion__section-button {
    color: #006637 !Important;
}
</style>

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <div class="sideMenuSection">

        <ul>
          <!-- <li>
            <a href="index.html">Support</a>
          </li> -->
          <li class="active-side-menu">
            <a class="current-main" href="using-gds.html">Using GDS</a>
          </li>
          <li>
            <a href="new-components.html">New components</a>
          </li>
          <!-- <li>
            <a href="using-notion.html">Using Notion</a>
          </li> -->
          <li>
            <a href="maintenance.html">Maintenance</a>
          </li>
        </ul>
      </div>





    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Support</span>
        <h1 class="govuk-heading-xl">
        Using GDS
        </h1>
        <!-- <p style="font-size:24px;margin-bottom:25px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna feugiat non pellentesque ultricies. Mollis magna facilisis diam id in diam.
        </p> -->


         <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default2">
   
           <div class="govuk-accordion__section ">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Why can the GDS Transport font not be used across all HMLR services?
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
               <p class='govuk-body'>As per the <a class="govuk-link" style="color: #008548 !important;" href="https://design-system.service.gov.uk/styles/typography/">advice</a> provided through the GOV.UK Design System, the GDS Transport Font can only be used on service.gov.uk subdomain. Outside of the service.gov.uk subdomain, an alternative font must be used. The default font for HMLR is Roboto.</p>
             </div>
           </div>
           <div class="govuk-accordion__section ">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Can I use GDS components if the HMLR service is not being hosted on the service.gov.uk subdomain?
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
               <p class='govuk-body'>Yes, components taken from the GOV.UK Design System can and should be used on all HMLR services.</p>
             </div>
           </div>
           <div class="govuk-accordion__section ">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Are adaptations allowed to be made to approved GDS components?
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
               <p class='govuk-body'>Adaptations to GDS components should be informed and driven by user research. If a particular user need has resulted in a team adapting an existing GDS component, please <a class="govuk-link" style="color: #008548 !important;" href="https://hmlr-experience-library.herokuapp.com/community/steering-group">contact the Design System Team</a> as it may be of interest to others in the community.</p>
             </div>
           </div>
           <div class="govuk-accordion__section ">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  How can I edit a GDS component using the prototype kit?
                </span>
               </h2>
             </div>
             <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
               <p class='govuk-body'>Custom changes can be made by adapting the HTML and CSS of the original components.</p>
             </div>
           </div>
           <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Should HMLR services adhere to the same standards of accessibility as those outlined by GDS? 
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Yes, HMLR must adhere to the government's standards around accessibility.</p>
            </div>
          </div>
   
         </div>
         

         
         

    </div>
    {% include "includes/helpimprove.html" %}  

  </div>
    </div>





  </div>

</div>

{% endblock %}


