
{% extends "layout_designsystem_V2CSG.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}


<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles.html">Design principles</a>
          </li>
        </ul>
      </div> -->
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Content design</p>
        <ul>
          <li class="active-side-menu">
            <a class="current-main" href="/content/checking.html">Checking our content</a>
          </li>
          <li>
            <a href="/content/writing.html">Writing</a>
          </li>

        </ul>
      </div>




    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Content design</span>
        <h1 class="govuk-heading-xl">
        Checking our work
        </h1>
        <p style="font-size:24px;margin-bottom:25px;">
          Tools and methods to help write and check content.
        </p>
      </div>

      <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-l">Checking Content</h2>

        <p><a href ="https://hemingwayapp.com/">The Hemingway app</a> highlights lengthy, complex sentences, common errors and helps you write in the active voice.</p>

        <p>A design critique (or ‘crit’) is where a designer can share a piece of work in progress with others to get feedback and iterate on it.</p>

        <p>Get another designer to check your work because it’s hard to spot your own mistakes.</p>
    </div>

    <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-l">Researching content with your users</h2>

        <p><a href ="https://userresearch.blog.gov.uk/2014/09/02/a-simple-technique-for-evaluating-content/">The highlighter test</a> helps identify the impact of what you’re writing and how it could be made simpler. </p>

        <p><a href ="https://www.nngroup.com/articles/cloze-test-reading-comprehension/">The Cloze test</a> provides evidence of how easy a text is to read and understand for your users.</p>

        <p><a href ="https://userresearch.blog.gov.uk/2018/03/23/how-we-refined-our-approach-to-card-sorting/">Card sorting</a> can be a great way to help sort out the order of things, like the taxonomy of a menu. </p>

        <p><a href ="https://www.nngroup.com/articles/tree-testing/">Tree testing</a> can help you see how people navigate and understand the structure and terminology of your service.</p>
    </div>




      {% include "includes/feedback.html" %}  

    </div>
    </div>





  </div>

</div>







{% endblock %}


