
{% extends "layout_designsystem_V2CSG.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}


<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
    <div class="sideMenu">
      <!-- <div class="sideMenuSection">
        <p class="sideMenuTitle">Principles</p>
        <ul>
          <li>
            <a href="/design/principles.html">Design principles</a>
          </li>
        </ul>
      </div> -->
      <div class="sideMenuSection">
        <p class="sideMenuTitle">Content design</p>
        <ul>
          <li>
            <a href="/content/checking.html">Checking our content</a>
          </li>
          <li>
            <a href="/content/writing.html">Writing</a>
          </li>

        </ul>
      </div>




    </div>

    <div class="right-content">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
          Content design
          </h1>
          <p>We design using the style, spelling and grammar rules from <a href ="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a>.</p>
            <p>This section covers the language that is specific to us and has links to tools that you may find useful in your day-to-day work. 
            </p>  
      </div>


      <!-- <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">
          Design principles
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada, nisi ac blandit vulputate, risus diam feugiat ligula, ut semper urna purus non eros.</p>
      </div> -->



      <div class="govuk-grid-column-full" style="margin-bottom:100px;">
<!-- 
        <h2 class="govuk-heading-l">
          Design
        </h2> -->

        <div>

          <div class="contentButtonBox Wide">
            <a href="/content/checking.html">
              <p class="link">Checking our content</p>
              <p class="description">Tools and methods to help write and check content.</p>
            </a>
          </div>

          <div class="contentButtonBox Wide">
            <a href="/content/writing.html">
              <p class="link">Writing</p>
              <p class="description">Plain language makes content easier to read, understand and use.</p>
            </a>
          </div>

        </div>

    </div>




      {% include "includes/feedback.html" %}  

    </div>
    </div>





  </div>

</div>







{% endblock %}


