
{% extends "layout_designsystem_V2CSG.html" %}

{% block pageTitle %}
  Design system
{% endblock %}

{% block content %}

<div class="contentSection">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">

      <h1 class="govuk-heading-xl">
        Content design
        </h1>
        <p>We design using the style, spelling and grammar rules from <a href ="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a>.</p>
          <p>This section covers the language that is specific to us and has links to tools that you may find useful in your day-to-day work. 
          </p>  

    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-l">
        Checking our content
        </h2>
        <h3 class="govuk-heading-m">Tools and methods to help write and check content</h3> 
       
          <div class="govuk-!-margin-bottom-7">
              <h4 class="govuk-heading-s">Checking Content</h4>

              <p><a href ="https://hemingwayapp.com/">The Hemingway app</a> highlights lengthy, complex sentences, common errors and helps you write in the active voice.</p>

              <p>A design critique (or ‘crit’) is where a designer can share a piece of work in progress with others to get feedback and iterate on it.</p>

              <p>Get another designer to check your work because it’s hard to spot your own mistakes.</p>
          </div>

          <div class="govuk-!-margin-bottom-7">
            <h4 class="govuk-heading-s">Researching content with your users</h4>

              <p><a href ="https://userresearch.blog.gov.uk/2014/09/02/a-simple-technique-for-evaluating-content/">The highlighter test</a> helps identify the impact of what you’re writing and how it could be made simpler. </p>

              <p><a href ="https://www.nngroup.com/articles/cloze-test-reading-comprehension/">The Cloze test</a> provides evidence of how easy a text is to read and understand for your users.</p>

              <p><a href ="https://userresearch.blog.gov.uk/2018/03/23/how-we-refined-our-approach-to-card-sorting/">Card sorting</a> can be a great way to help sort out the order of things, like the taxonomy of a menu. </p>

              <p><a href ="https://www.nngroup.com/articles/tree-testing/">Tree testing</a> can help you see how people navigate and understand the structure and terminology of your service.</p>
          </div>

    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-l">
        Writing
        </h2>
       
          <div class="govuk-!-margin-bottom-7">
              <h3 class="govuk-heading-m">Plain language makes content easier to read, understand and use.</h3>

              <p>The <a href ="http://www.plainenglish.co.uk/the-a-z-of-alternative-words.html">plain English campaign</a> has hundreds of alternative, plain English words.</p>

              <p><a href ="https://www.plainlanguage.gov/guidelines/words/use-simple-words-phrases/">The US Government plain language site</a> has lots of useful plain English alternatives, just watch out for those US spellings though! </p>

          </div>

    </div>


  </div>

</div>

{% endblock %}


